.about{
  .rotate-heading{
    color: #333333;
    font-family: "ProximaBl";
    font-size: 45px;
    line-height: 40px;
    text-align: right;
    position: absolute;
    top: -80px;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;

    @media (max-width: 1220px){
      transform: none;
      text-align: left;
      position: static;
      margin-bottom: 40px;

      br{
        display: none;
      }
    }

    @media (max-width: 640px){
      font-size: 25px;
      line-height: 30px;
    }
  }

  .poster-page__items.poster-page__items_big{
    padding-bottom: 0;
  }

  &-section-1{
    background-image: url("../img/about/about-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 380px;
    padding-bottom: 70px;

    @media (max-width: 900px){
      padding-top: 190px;
      padding-bottom: 50px;
    }

    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-left: 20px;
      padding-right: 20px;
    }

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      z-index: 1;
    }

    .container2{
      position: relative;
      z-index: 2;
    }

    .subheading{
      margin: 0;
      color: #cd9a2b;
      font-size: 12px;
      text-transform: uppercase;
      font-family: 'ProximaB';
      margin-bottom: 8px;
      letter-spacing: 2px;
    }

    .heading{
      font-size: 45px;
      font-weight: 700;
      line-height: 55px;
      color: #ffffff;
      font-family: 'ProximaB';
      letter-spacing: -1px;

      @media (max-width: 640px){
        font-size: 30px;
        line-height: 40px;
      }

      span{
        color: #cd9a2b;
      }
    }

    .text{
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin: 20px auto 0 auto;
      max-width: 620px;

      @media (max-width: 640px){
        font-size: 16px;
        line-height: 25px;
      }
    }

    .btn{
      width: 200px;
      height: 60px;
      border: 2px solid #ffffff;
      display: block;
      margin: 42px auto 0 auto;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      border-radius: 40px;
      color: #ffffff;
      font-size: 16px;
      position: relative;

      a{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      @media (max-width: 640px){
        font-size: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 30px auto 0 auto;
      }

      img{
        display: inline-block;
        vertical-align: middle;
        margin: -3px 12px 0 0;

        @media (max-width: 640px){
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  &-section-2{
    background-image: url("../img/exhibition/section2/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 70px;

    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-left: 20px;
      padding-right: 20px;
    }

    p{
      color: #000000;
      font-size: 18px;
      line-height: 30px;
      margin: 0;
      text-align: center;

      @media (max-width: 640px){
        font-size: 16px;
        line-height: 25px;
        text-align: left;
      }
    }

    .items{
      display: flex;
      justify-content: space-between;
      margin: 50px auto 0 auto;

      @media (max-width: 640px){
        display: block;
      }
    }

    .item{
      width: 15%;

      @media (max-width: 640px){
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 25px;
      }

      &-pic{
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto 25px auto;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        background-color: #fdfefd;

        @media (max-width: 640px){
          margin: 0 15px 0 0;
          min-width: 56px;
          width: 56px;
          height: 56px;
        }

        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          z-index: 1;

          @media (max-width: 640px){
            transform: translateY(-50%) translateX(-50%) scale(0.6);
          }
        }
      }

      &-text{
        color: #333333;
        font-size: 16px;
        line-height: 23px;
        font-family: 'ProximaB';
        text-align: center;
        letter-spacing: -1px;

        @media (max-width: 640px){
          text-align: left;
        }
      }
    }

    hr{
      margin-bottom: 70px;
      margin-top: 40px;
      border-bottom: 1px solid #ceced5;

      @media (max-width: 640px){
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }

    .text-block{
      display: flex;
      justify-content: space-between;

      @media (max-width: 640px){
        display: block;
      }
    }
  }

  &-section-3{
    .project{
      position: relative;
    }

    .project-item{
      float: left;
      width: 25%;
      position: relative;
      overflow: hidden;
      color: #fff;

      @media (max-width: 960px){
        width: 50%;
      }

      @media (max-width: 640px){
        width: 100%;
      }

      .img{
        height: 400px;
        transition: 0.3s ease all;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 960px){
          height: 350px;
        }

        @media (max-width: 640px){
          height: 250px;
        }
      }

      .mask{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.3s ease all;
        z-index: 1;
      }

      &:hover{
        .img{
          transform: scale(1.1);
        }

        h2{
          color: $yellow;
        }

        span{
          color: #fff;
        }

        .mask{
          opacity: 0.5;
        }
      }

      img{
        width: 100%;
        height: 100%;
        transition: all 0.3s ease
      }

      .text{
        width: 90%;
        position: absolute;
        text-align: center;
        left: 5%;
        bottom: 15%;
        z-index: 2;

        @media (max-width: 640px){
          transform: translateY(-50%);
          top: 50%;
          bottom: auto;
        }
      }

      span{
        width: 80%;

        @media (max-width: 640px){
          width: 100%;
          display: none;
        }
      }

      h2{
        margin-bottom: 20px;
      }

      hr{
        width: 40px;
        margin: 30px auto 0 auto;
        border-bottom: 3px solid $yellow;
      }
    }
  }

  &-section-4{
    display: flex;
    align-items: stretch;

    @media (max-width: 640px){
      flex-wrap: wrap;
    }

    .item{
      width: 50%;

      @media (max-width: 640px){
        width: 100%;

        &:nth-of-type(2){
          order: -1;
        }
      }

      &-right{
        background-color: #e3e3e3;
        padding: 50px;
        color: #333333;
        height: 100%;

        @media (max-width: 900px){
          padding: 40px;
        }

        @media (max-width: 640px){
          padding: 20px;
        }

        hr{
          background-color: #cac9c9;
          height: 1px;
          width: 100%;
          margin: 20px 0 30px 0;
        }

        &-block{
          display: flex;

          @media (max-width: 900px){
            display: block;
          }

          &>div{
            &:nth-of-type(1){
              margin: 0 40px 0 0;

              @media (max-width: 900px){
                margin: 0 0 24px 0;

                h3, p{
                  margin: 10px 0;
                }
              }
            }
          }
        }

        &-bottom{
          p{
            position: relative;
            z-index: 1;
            padding-left: 28px;

            img{
              position: absolute;
              top: 4px;
              left: 0;
              z-index: 1;
            }

            a{
              color: #1d5ea2;
            }
          }
        }
      }

      &-map{
        background-image: url("../img/about/map.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        position: relative;
        z-index: 1;

        &:before, &:after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        &:before{
          z-index: 3;
          background-color: black;
          opacity: 0.3;
        }

        &:after{
          z-index: 4;
          background-color: $yellow;
          opacity: 0.3;
        }

        @media (max-width: 640px){
          height: 250px;
        }

        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
          background-color: black;
          opacity: 0.5;
          transition: 0.3s;
        }

        &-inner{
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          transform: translateY(-50%);
          z-index: 10;
        }

        .ticket-img{
          display: block;
          margin: 0 auto 0 auto;
        }

        p{
          color: #ffffff;
          font-family: "ProximaB";
          font-size: 16px;
          line-height: 30px;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 3px;
        }
      }
    }
  }

  &-section-5{
    padding: 80px 0;
    background-color: #fff;

    @media (max-width: 640px){
      padding: 50px 0;
    }

    .container2{
      position: relative;
      z-index: 1;

      @media (max-width: 640px){
        padding: 0;
      }
    }

    .rotate-heading{
      left: -340px;

      @media (max-width: 640px){
        max-width: 200px;
      }
    }

    .feedback{
      .item{
        float: left;
        width: 33.33%;
        padding-right: 35px;
        &:last-child{
          padding-right: 0;
        }

        .item-h{
          margin-bottom: 30px;
          display: flex;
          align-items: center;

          .img, .text{

          }

          .img{
            width: 30%;
            min-width: 80px;
            border-radius: 50%;

            img{
              height: 80px;
              border-radius: 50%;
            }
          }

          .text{
            width: 70%;
            padding-left: 20px;

            h3{
              color: $dark-gray;
            }

            .small{
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  &-section-6{
    background-color: #3b3f48;
    padding-top: 80px;
    padding-bottom: 48px;

    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .rotate-heading{
      left: -300px;
      color: white;
    }

    .container2{
      position: relative;
      z-index: 1;
    }

    .items{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 640px){
        display: block;
      }
    }

    .item{
      width: 49%;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
      cursor: pointer;

      @media (max-width: 640px){
        width: 100%;
        display: block;
        margin-bottom: 40px;
      }

      &:hover{
        .item-heading{
          color: $yellow;
        }
      }

      &-pic{
        min-width: 133px;
        width: 133px;
        height: 83px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;

        @media (max-width: 900px){
          width: 120px;
          min-width: 120px;
          height: 70px;
        }

        @media (max-width: 640px){
          width: 135px;
          min-width: 135px;
          height: 85px;
        }
      }

      &-block{
        margin: 0 0 0 30px;

        @media (max-width: 900px){
          margin: 0 0 0 20px;
        }

        @media (max-width: 640px){
          margin: 15px 0 0 0;
        }
      }

      &-heading{
        color: #ffffff;
        font-size: 18px;
        font-family: 'ProximaB';
        margin: 0 0 15px 0;
        transition: 0.3s;

        @media (max-width: 640px){
          margin: 0 0 5px 0;
        }
      }

      &-text{
        color: #ffffff;
        opacity: 0.7;
        font-size: 14px;

        @media (max-width: 640px){
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }

  &-section-7{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;

    h4{
      text-align: center;
      margin-bottom: 45px;
    }

    .slider-wr{
      display: none;
      position: relative;
    }

    .partner-slider-paginator{
      width: 100%;
      text-align: center;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      bottom: -25px;
      left: 50%;
      margin-left: -50%;

      a{
        display: inline-block;
        margin-right: 15px;
        width: 6px;
        height: 6px;
        background-color: #aaafb8;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
          background-color: $yellow;
        }
      }

      .active{
        background-color: $yellow;
      }
    }

    .partner-slider{
      div{
        outline: none;
      }
      img{
        height: 78px;
      }
    }

    .partner{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      img{
        display: inline-block;
        height: 78px;

        @media (max-width: 640px){
          height: auto;
          width: 20%;
          max-width: 100px;

          &:nth-of-type(10){
            display: none;
          }
        }
      }
    }
  }

  .poster-items-section{
    @media (max-width: 640px){
      display: none;
    }

    .poster-page__items_big{
      margin: 0 auto;
    }

    .poster-page__item{
      height: 480px;

      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5){
        height: 240px;
      }
    }
  }
}