.article-page{
  h1{
    font-family: ProximaB;
  }
  @media (max-width: 1220px){
    .container2{
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (max-width: 640px){
    .container2{
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__banner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    position: relative;
    z-index: 1;
    margin: 30px auto 0 auto;

    @media (max-width: 900px){
      height: 415px;
    }

    @media (max-width: 640px){
      height: 200px;
    }

    &-date{
      color: #ffffff;
      font-size: 13px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: #cd9a2b;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      padding: 0 15px;
      text-transform: uppercase;

      @media (max-width: 640px){
        width: 100%;
      }

      span{
        line-height: 12px;

        img{
          vertical-align: middle;
          display: inline-block;
          margin: 0 12px 0 0;
        }

        &:nth-of-type(2){
          margin: 0 0 0 12px;
          padding-left: 12px;
          border-left: 1px solid rgba(255,255,255,0.45);
        }
      }
    }
  }

  .text-bold{
    font-family: 'ProximaB';
    color: #333333;
    font-size: 22px;

    @media (max-width: 640px){
      font-size: 16px;
    }
  }

  &-section-1{
    padding: 50px 0 0 0;
  }

  &-section-2{
    padding: 50px 0 0 0;
  }

  .rotate-heading{
    color: #333333;
    font-family: "ProximaBl";
    font-size: 45px;
    line-height: 40px;
    text-align: right;
    position: absolute;
    top: -80px;
    left: -330px;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;

    &_mobile{
      display: none;
    }

    @media (max-width: 1220px){
      transform: none;
      text-align: left;
      position: static;
      margin-bottom: 40px;
      display: none;

      &_mobile{
        display: block;
      }

      br{
        display: none;
      }
    }

    @media (max-width: 640px){
      font-size: 25px;
      line-height: 30px;
    }
  }

  .article{
    position: relative;
    z-index: 1;
    padding-left: 150px;

    @media (max-width: 900px){
      padding-left: 0px;
      width: 84%;
      min-width: 280px;
      margin: 0 auto;
    }

    .article-heading{
      color: #333333;
      font-size: 30px;
      font-family: 'ProximaB';

      @media (max-width: 640px){
        font-size: 20px;
      }
    }

    .article-text{
      color: #666666;
      font-size: 18px;
      line-height: 30px;
      max-width: 700px;
      width: 100%;

      @media (max-width: 640px){
        font-size: 16px;
        line-height: 25px;
      }
    }

    .quote{
      color: #cd9a2b;
      font-family: "ProximaBl";
      font-size: 150px;
      font-weight: 900;
      line-height: 6px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

      @media (max-width: 900px){
        font-size: 120px;
        bottom: -90px;
        left: -70px;
      }

      @media (max-width: 640px){
        position: static;
        display: block;
        font-size: 60px;
        line-height: 40px;
        text-align: center;
      }
    }
  }

  &-section-3{
    padding: 70px 0 0 0;

    @media (max-width: 640px){
      padding: 50px 0 0 0;
    }

    .container2{
      border-bottom: 5px solid #f3f3f3;
      padding-bottom: 50px;
    }

    .pic{
      float: right;
      margin: 10px 30px;
      width: 400px;

      @media (max-width: 900px){
        width: 300px;
      }

      @media (max-width: 640px){
        float: none;
        width: calc(100% + 40px);
        margin-left: -20px;
        display: block;
      }

      img{
        width: 100%;
      }

      &-text{
        font-size: 14px;
        line-height: 25px;
        color: #999999;
        margin: 0;
        margin-top: 10px;

        @media (max-width: 640px){
          padding: 0 20px;
          margin-bottom: 14px;
        }

        span{
          display: inline-block;
          vertical-align: top;
          color: #cccccc;
          margin: 0 5px;

          @media (max-width: 900px){
            display: none;
          }
        }
      }
    }
  }

  .event-section-9{
    background-color: #f3f3f3;
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 900px){
      padding-top: 70px;
      padding-bottom: 55px;
    }

    @media (max-width: 640px){
      padding-top: 50px;
      padding-bottom: 25px;
    }

    .container2{
      position: relative;
    }

    .rotate-heading{
      left: - 240px;
    }
  }

  .news-page__items{
    @media (max-width: 900px){
      display: none;
    }
  }


  .items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: 900px){
      display: none;
    }

    @media (max-width: 640px){
      display: block;
    }
  }

  .item{
    width: 49%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    cursor: pointer;
    color: #666666;

    @media (max-width: 640px){
      width: 100%;
      margin-bottom: 35px;
    }

    &:hover{
      .item-heading{
        color: $yellow;
      }
    }

    &-pic{
      min-width: 133px;
      width: 133px;
      height: 83px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;

      @media (max-width: 900px){
        width: 120px;
        min-width: 120px;
        height: 70px;
      }

      @media (max-width: 640px){
        width: 135px;
        min-width: 135px;
        height: 85px;
      }
    }

    &-block{
      margin: 0 0 0 30px;

      @media (max-width: 900px){
        margin: -5px 0 0 20px;
        padding-right: 20px;
      }
    }

    &-heading{
      display: block;
      font-size: 18px;
      font-family: 'ProximaB';
      margin: 0 0 15px 0;
      transition: 0.3s;
      color: $dark-gray;

      @media (max-width: 640px){
        margin: 0 0 5px 0;
      }
    }

    &-text{
      opacity: 0.7;
      font-size: 14px;
      text-transform: uppercase;

      @media (max-width: 640px){
        font-size: 16px;
        margin: 0;
      }
    }

    &-date{
      font-size: 11px;
      color: $light-gray;
      text-transform: uppercase;
      font-family: ProximaB;
      font-weight: bold;
    }
  }
}