.blog-article-page{
  h1{
    font-family: ProximaB;
  }

  .rotate-heading{
    color: #333333;
    font-family: "ProximaBl";
    font-size: 45px;
    line-height: 40px;
    text-align: right;
    position: absolute;
    top: -80px;
    left: -345px;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;

    span{
      color: #cccccc;
      display: inline;
    }

    @media (max-width: 1220px){
      transform: none;
      text-align: left;
      position: static;
      margin-bottom: 40px;

      br{
        display: none;
      }
    }

    @media (max-width: 640px){
      font-size: 25px;
      line-height: 30px;
    }
  }

  &__banner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    position: relative;
    z-index: 1;
    margin: 30px auto 0 auto;

    @media (max-width: 900px){
      height: 415px;
    }

    @media (max-width: 640px){
      height: 200px;
    }

    &-date{
      color: #ffffff;
      font-size: 13px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: #cd9a2b;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      padding: 0 15px;
      text-transform: uppercase;

      @media (max-width: 640px){
        width: 100%;
      }

      span{
        line-height: 12px;

        img{
          vertical-align: middle;
          display: inline-block;
          margin: 0 12px 0 0;
        }

        &:nth-of-type(2){
          margin: 0 0 0 12px;
          padding-left: 12px;
          border-left: 1px solid rgba(255,255,255,0.45);
        }
      }
    }
  }

  .text-bold{
    font-family: 'ProximaB';
    color: #333333;
    font-size: 22px;

    @media (max-width: 640px){
      font-size: 16px;
    }
  }

  &-section-1{
    padding-top: 50px;

    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &-section-2{
    padding-top: 50px;

    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-left: 20px;
      padding-right: 20px;
    }

    .container2{
      border-bottom: 5px solid #f3f3f3;
      padding-bottom: 50px;
    }
  }

  .article{
    position: relative;
    z-index: 1;
    width: 600px;
    margin: 0 auto;

    @media (max-width: 900px){
      width: 84%;
    }

    @media (max-width: 640px){
      width: 100%;
    }

    .article-heading{
      color: #333333;
      font-size: 30px;
      font-family: 'ProximaB';

      @media (max-width: 640px){
        font-size: 20px;
      }
    }

    .article-text{
      color: #666666;
      font-size: 18px;
      line-height: 30px;
      max-width: 700px;
      width: 100%;

      @media (max-width: 640px){
        font-size: 16px;
        line-height: 25px;
      }
    }

    .quote{
      color: #cd9a2b;
      font-family: "ProximaBl";
      font-size: 150px;
      font-weight: 900;
      line-height: 6px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

      @media (max-width: 900px){
        font-size: 120px;
        bottom: -90px;
        left: -70px;
      }

      @media (max-width: 640px){
        position: static;
        display: block;
        font-size: 60px;
        line-height: 40px;
        text-align: center;
      }
    }
  }

  .follow{
    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.comment{
  background-color: #f3f3f3;
  padding-top: 65px;
  padding-bottom: 50px;

  @media (max-width: 1220px){
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 640px){
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .hidden-sm{
    @media (max-width: 640px){
      display: none;
    }
  }

  .show-sm{
    padding-bottom: 40px;
    
    @media (min-width: 640px){
      display: none;
    }
  }


  &-items{
    margin-bottom: 53px;
  }

  &-item{
    display: flex;
    max-width: 750px;
    width: 100%;
    margin-bottom: 23px;

    @media (max-width: 900px){
      display: block;
      max-width: 100%;
    }
  }

  &-name{
    color: #333333;
    font-family: "ProximaB";
    font-size: 18px;
    line-height: 20px;
    width: 150px;
    min-width: 150px;

    @media (max-width: 900px){
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  &-container{

  }

  &-date{
    color: #cccccc;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 0;

    span{
      display: inline;
      margin-left: 22px;
      position: relative;

      &:before{
        content: '';
        display: block;
        width: 1px;
        height: 11px;
        background-color: #e1e2e0;
        top: 4px;
        left: -11px;
        position: absolute;
      }
    }
  }

  &-text{
    color: #666666;
    font-size: 18px;
    line-height: 30px;
  }

  &-download{
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
    margin: 0 0 0 150px;
    cursor: pointer;

    &:hover{
      text-decoration: none;
    }

    @media (max-width: 900px){
      margin: 0 0 0 0;
    }
  }


  &-form{
    max-width: 600px;
    margin: 0 auto;

    @media (max-width: 900px){
      max-width: 100%;
    }

    &__heading{
      color: #333333;
      font-family: 'ProximaB';
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 4px;
      text-transform: uppercase;
      border-top: 5px solid #3b3f48;
      border-bottom: 1px solid #ceced5;
      padding: 25px 0 22px 0;
    }

    &__container{
      width: calc();
      margin-bottom: -100px;

      @media (max-width: 640px){
        margin-bottom: 0;
      }
    }

    &__group{
      float: left;
      width: 50%;

      &.first, &.third{
        padding-right: 20px;
      }

      &.second{
        padding-left: 20px;
      }

      &.third{
        position: relative;
        top: -100px;
      }

      &_big{
        width: 100%;
        padding-bottom: 50px;

        @media (max-width: 640px){
          padding-bottom: 0;
        }
      }

      @media (max-width: 640px){
        width: 100%;

        &.first, &.third{
          padding-right: 0;
        }

        &.second{
          padding-left: 0;
        }

        &.third{
          position: static;
          top: 0;
          left: 0;
        }
      }
    }

    &__label{
      color: #333333;
      font-size: 18px;
      line-height: 25px;
      margin: 18px 0;
    }

    &__input{
      width: 100%;
      height: 40px;
      background-color: white;
      border: none;
      border-radius: 0;
      padding: 0 20px;
    }

    &__textarea{
      width: 100%;
      height: 200px;
      resize: none;
      border: none;
      border-radius: 0;
      padding: 10px 20px;
      font-family: inherit;
    }

    &__captcha{
      width: 100%;
      height: 140px;
      background-color: #dcdce1;
      padding: 18px 30px 30px 30px;

      &-pic{
        max-width: 96%;
        display: block;
        margin: 0 auto 15px auto;
      }

      &-input{
        width: 100%;
        height: 40px;
        background-color: white;
        border: none;
        border-radius: 0;
        padding: 0 20px;
        display: block;
        margin: 0 auto 0 auto;
      }
    }

    .btn{
      width: 280px;
      max-width: 100%;
      height: 50px;
      background-color: #cd9a2b;
      border: none;
      outline: none;
      font-family: ProximaB;
      color: #ffffff;
      font-size: 12px;
      display: block;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
      margin: 50px auto 0 auto;

      @media (max-width: 640px){
        margin: 40px auto 0 auto;
      }
    }
  }
}