.blog-page{
  h1{
    font-family: ProximaB;
  }

  @media (max-width: 1220px){
    .container2{
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (max-width: 640px){
    .container2{
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .rotate-heading{
    color: #333333;
    font-family: "ProximaBl";
    font-size: 45px;
    line-height: 40px;
    text-align: right;
    position: absolute;
    top: -80px;
    left: -160px;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;

    @media (max-width: 1220px){
      transform: none;
      text-align: left;
      position: static;
      margin-bottom: 40px;
      margin-top: 40px;

      br{
        display: none;
      }
    }

    @media (max-width: 640px){
      font-size: 25px;
      line-height: 30px;
    }
  }

  .filter-blog{
    display: flex !important;
    
    @media (max-width: 640px){
      .poster-page__filter-btns{
        width: 180px;

        .poster-page__filter-btn_select{
          margin-bottom: 0;
        }
      }
      .poster-page__filter-container{
        width: 90px;
      }
    }
  }

  &-section{
    &-1{
      padding-top: 50px;
      padding-bottom: 120px;
      background-color: #fff;

      @media (max-width: 640px){
        padding-top: 35px;
      }

      .big-text{
        margin: 25px 0;
      }

      .blog{
        .blog-big, .blog-small{
          float: left;

          a:hover{
            h3{
              transition: all 0.3s ease;
              color: $yellow;
            }
          }
        }

        h3{
          font-family: ProximaB;
          color: #fff;
          font-size: 25px;

          @media (max-width: 640px){
            font-size: 20px;
          }
        }

        .item{
          img{
            width: 100%;
          }
        }

        .date{
          color: $light-gray;
          font-family: ProximaB;
          font-size: 12px;
          text-transform: uppercase;
          margin-top: 10px;
        }

        .blog-big{
          width: 50%;
          padding-right: 15px;

          .item{
            position: relative;
            height: 440px;
            @extend .bgi;

            .text{
              position: absolute;
              width: 90%;
              bottom: 5%;
              margin-left: 20px;
            }
          }
        }

        .blog-small{
          width: 50%;
          padding-left: 15px;

          .item{
            margin-top: 30px;
            position: relative;
            height: 205px;
            @extend .bgi;

            .text{
              position: absolute;
              width: 90%;
              bottom: 10%;
              margin-left: 20px;
            }

            &:first-child{
              margin-top: 0;
            }
          }
        }
      }


      @media only screen and (max-width : 640px){

        .blog .blog-big .item, .section-5 .blog .blog-small .item{
          height: 180px;
        }
        .blog .blog-small{
          padding-left: 0;
        }
        .blog .blog-big{
          padding-right: 0;
        }
        .blog .blog-big, .blog .blog-small{
          width: 100%;
        }
        .blog .blog-big{
          margin-bottom: 30px;
        }
      }
    }
    
    &-3{
      background-color: #f3f3f3;
      padding-bottom: 70px;
    }

  }



  &__form{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    margin: 10px 0 40px 0;

    @media (max-width: 900px){
      flex-wrap: wrap;
      padding-bottom: 38px;
    }

    @media (max-width: 640px){
      display: block;
      padding: 30px;
      margin: 20px 0 20px 0;
    }

    &-text{
      font-family: ProximaB;
      font-size: 20px;
      color: #333333;
      max-width: 320px;

      @media (max-width: 900px){
        width: 100%;
        max-width: 100%;
        font-size: 18px;
      }
    }

    &-input{
      width: 220px;
      height: 40px;
      border: 1px solid #ceced5;
      background-color: #ffffff;
      display: block;
      padding: 0 18px;
      font-size: 16px;
      font-family: Proxima;
      color: #333333;
      outline: none;

      @media (max-width: 900px){
        width: 55.8%;
      }

      @media (max-width: 640px){
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &-btn{
      width: 180px;
      height: 40px;
      background-color: #cd9a2b;
      border: none;
      outline: none;
      font-family: ProximaB;
      color: #ffffff;
      font-size: 12px;
      display: block;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;

      @media (max-width: 640px){
        width: 100%;
      }
    }
  }
}

.blog-items{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  width: calc(100% + 30px);
  margin-left: -15px;
  flex-wrap: wrap;
  
  @media (max-width: 900px){
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  @media (max-width: 640px){
    width: 100%;
    margin-left: 0;
  }


  .blog-item{
    margin-left: 15px;
    margin-right: 15px;
    width: calc(33.33% - 30px);
    height: 200px;
    position: relative;
    margin-bottom: 30px;

    &:last-child{
      margin-bottom: 0;
    }

    @media (max-width: 900px){
      margin-left: 10px;
      margin-right: 10px;
      width: calc(50% - 20px);
      height: 155px;
    }

    @media (max-width: 640px){
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      height: 180px;
    }

    &:hover{
      h3{
        transition: 0.3s;
        color: $yellow !important;
      }
    }

    .img{
      height: 100%;
      @extend .bgi;
    }

    .text{
      position: absolute;
      width: 85%;
      left: 7.5%;
      bottom: 0;

      h3{
        color: #fff;
      }

      .small-text{
        font-size: 11px;
        font-family: ProximaB;
        font-weight: bold;
        color: $light-gray;
        text-transform: uppercase;
        margin-bottom: 18px;
        margin-top: 15px;

        @media (max-width: 900px){
          margin-top: 5px;
        }

        @media (max-width: 640px){
          margin-top: 15px;
        }
      }
    }
  }
}