.contacts{
  h1{
    font-family: ProximaB;
  }
  //background-color: #f3f3f3;

  .rotate-heading{
    color: #333333;
    font-family: "ProximaBl";
    font-size: 45px;
    line-height: 40px;
    text-align: right;
    position: absolute;
    top: -80px;
    left: -330px;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;

    @media (max-width: 1220px){
      transform: none;
      text-align: left;
      position: static;
      margin-bottom: 40px;

      br{
        display: none;
      }
    }

    @media (max-width: 640px){
      font-size: 25px;
      line-height: 30px;
    }
  }

  &-section-1{
    padding-top: 50px;

    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
    }

    .big-text{
      margin: 25px 0;
    }
  }

  &-container{
    display: flex;
    margin: 60px auto 0 auto;
    max-width: 1200px;

    @media (max-width: 960px){
      display: block;
    }

    @media (max-width: 640px){
      margin: 0 auto;
    }
  }

  &-map{
    width: 66%;

    @media (max-width: 960px){
      width: 100%;
      height: 460px;
    }
  }

  &-address{
    width: 34%;
    color: #000000;

    @media (max-width: 960px){
      width: 100%;
    }

    &-top{
      background-color: #e4e4e4;
      padding: 40px;

      h3{
        margin-bottom: 30px;
      }

      p:last-of-type{
        margin-bottom: 0;
      }

      @media (max-width: 960px){
        display: flex;
        justify-content: space-around;
      }

      @media (max-width: 640px){
        display: block;
        padding: 30px 20px 30px 30px;

        h3{
          text-align: center;
        }
      }

      hr{
        height: 1px;
        width: 100%;
        background-color: #cbcbcb;
        margin: 25px 0 30px 0;

        @media (max-width: 960px){
          height: 160px;
          width: 1px;
          margin: 0 15px;
        }

        @media (max-width: 640px){
          height: 1px;
          width: 100%;
          margin: 25px 0 30px 0;
        }
      }

      p{
        position: relative;
        padding-left: 100px;

        span{
          position: absolute;
          top: 0;
          left: 0;
          width: 100px;
          display: inline-block;
          vertical-align: top;
        }

        a{
          color: #1e60a5;
        }
      }

      .work-time{
        p{
          white-space: nowrap;
          padding-left: 0;

          span{
            position: static;
            width: auto;
          }

          i{
            font-style: normal;
            display: inline-block;
            vertical-align: top;
            margin: 0 5px;
            color: #c6c3c3;
          }
        }
      }
    }

    &-bottom{
      background-color: #f3f3f4;
      padding: 20px 40px 20px 70px;
      position: relative;
      z-index: 1;

      @media (max-width: 640px){
        padding: 20px 30px 20px 55px;
      }

      img{
        position: absolute;
        top: 24px;
        left: 40px;
        z-index: 1;

        @media (max-width: 640px){
          left: 30px;
        }
      }
    }
  }

  &-section-3{
    padding-top: 80px;
    padding-bottom: 40px;

    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-left: 20px;
      padding-right: 20px;
    }

    .items{
      display: flex;
      justify-content: space-between;

      @media (max-width: 960px){
        display: block;
      }
    }

    .item{
      width: 48%;

      @media (max-width: 960px){
        width: 100%;
      }

      &:nth-of-type(1),
      &:nth-of-type(2){
        .item-list{
          &:nth-of-type(1){
            h3{
              padding-top: 18px;
            }
          }
        }
      }

      &:nth-of-type(2){
        .item-list{
          h3{
            margin-bottom: 16px;
          }
        }
      }

      &-list{
        position: relative;
        z-index: 1;
        padding-left: 110px;
        margin-bottom: 40px;

        @media (max-width: 640px){
          padding-left: 0;
        }

        &-pic{
          width: 80px;
          height: 80px;
          background-color: #f5f5f5;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          border-radius: 50%;

          @media (max-width: 640px){
            width: 56px;
            height: 56px;
            float: left;
            position: relative;
            margin: 0 15px 20px 0;
          }

          img{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translateY(-50%) translateX(-50%);
          }
        }

        h3{
          color: #333333;

          @media (max-width: 640px){
            padding-top: 5px;
          }
        }

        p{
          color: #000000;
          line-height: 25px;

          @media (max-width: 640px){
            clear: both;
          }
        }

        ul{
          @media (max-width: 640px){
            clear: both;
          }
        }

        li{
          color: #000000;
          line-height: 25px;
          position: relative;
          z-index: 1;
          padding-left: 21px;
          margin-bottom: 8px;

          &:before{
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 6px;
            height: 6px;
            background-color: #aaafb8;
            border-radius: 50%;
            z-index: 1;
          }
        }
      }
    }
  }

  &-section-4{
    .project{
      position: relative;
    }

    .project-item{
      float: left;
      width: 25%;
      position: relative;
      overflow: hidden;
      color: #fff;

      @media (max-width: 960px){
        width: 50%;
      }

      @media (max-width: 640px){
        width: 100%;
      }

      .img{
        height: 580px;
        transition: 0.3s ease all;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 960px){
          height: 350px;
        }

        @media (max-width: 640px){
          height: 250px;
        }
      }

      .mask{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.3s ease all;
        z-index: 1;
      }

      &:hover{
        .img{
          transform: scale(1.1);
        }

        h2{
          color: $yellow;
        }

        span{
          color: #fff;
        }

        .mask{
          opacity: 0.5;
        }
      }

      img{
        width: 100%;
        height: 100%;
        transition: all 0.3s ease
      }

      .text{
        width: 90%;
        position: absolute;
        bottom: 60px;
        left: 7%;
        z-index: 2;

        @media (max-width: 640px){
          text-align: center;
          left: 5%;
          bottom: auto;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      span{
        width: 80%;

        @media (max-width: 640px){
          width: 100%;
          display: none;
        }
      }

      h2{
        margin-bottom: 20px;
      }

      hr{
        width: 40px;
        margin-top: 30px;
        border-bottom: 3px solid $yellow;
        text-align: left;

        @media (max-width: 640px){
          margin: 30px auto 0 auto;
        }
      }
    }
  }
}