.event-page{
  h1{
    font-family: ProximaB;
  }
  @media (max-width: 1220px){
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 640px){
    padding-left: 20px;
    padding-right: 20px;
  }

  &__banner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    position: relative;
    z-index: 1;
    margin: 30px auto 0 auto;

    @media (max-width: 900px){
      height: 415px;
    }

    @media (max-width: 640px){
      width: calc(100% + 40px);
      margin-left: -20px;
      height: 200px;
    }

    &-date{
      color: #ffffff;
      font-size: 13px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: #f7323f;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      padding: 0 15px;
      text-transform: uppercase;

      @media (max-width: 640px){
        width: 100%;
      }

      span{
        line-height: 12px;

        img{
          vertical-align: middle;
          display: inline-block;
          margin: 0 12px 0 0;
        }

        &:nth-of-type(2){
          margin: 0 0 0 12px;
          padding-left: 12px;
          border-left: 1px solid rgba(255,255,255,0.45);
        }
      }
    }
  }

  .text-bold{
    font-family: 'ProximaB';
    color: #333333;
    font-size: 22px;

    @media (max-width: 640px){
      font-size: 16px;
    }
  }

  .event-section-1{
    padding: 50px 0 0 0;
  }

  .rotate-heading{
    color: #333333;
    font-family: "ProximaBl";
    font-size: 45px;
    line-height: 40px;
    text-align: right;
    position: absolute;
    top: -80px;
    left: -330px;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;

    @media (max-width: 1220px){
      transform: none;
      text-align: left;
      position: static;
      margin-bottom: 40px;

      br{
        display: none;
      }
    }

    @media (max-width: 640px){
      font-size: 25px;
      line-height: 30px;
    }
  }

  .article{
    position: relative;
    z-index: 1;
    padding-left: 150px;

    @media (max-width: 900px){
      padding-left: 0px;
      width: 84%;
      min-width: 280px;
      margin: 0 auto;
    }

    .article-heading{
      color: #333333;
      font-size: 30px;
      font-family: 'ProximaB';

      @media (max-width: 640px){
        font-size: 20px;
      }
    }

    .article-text{
      color: #666666;
      font-size: 18px;
      line-height: 30px;
      max-width: 700px;
      width: 100%;

      @media (max-width: 640px){
        font-size: 16px;
        line-height: 25px;
      }
    }

    .quote{
      color: #cd9a2b;
      font-family: "ProximaBl";
      font-size: 150px;
      font-weight: 900;
      line-height: 6px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

      @media (max-width: 900px){
        font-size: 120px;
        bottom: -90px;
        left: -70px;
      }

      @media (max-width: 640px){
        position: static;
        display: block;
        font-size: 60px;
        line-height: 40px;
        text-align: center;
      }
    }
  }

  .event-section-3{
    padding: 50px 0 0 0;

    @media (max-width: 900px){
      padding: 20px 0 0 0;
    }

    @media (max-width: 640px){
      padding: 0;
    }

    .quote-block{
      display: flex;
      justify-content: space-between;
      border-bottom: 5px solid #3b3f48;
      padding-bottom: 50px;
      margin: 0 auto;

      @media (max-width: 900px){
        width: 84%;
        min-width: 280px;
      }

      @media (max-width: 640px){
        display: block;
        padding-bottom: 20px;
      }
    }

    .quote-text{
      color: #333333;
      font-family: 'ProximaB';
      font-size: 25px;
      max-width: 690px;
      margin: 0;

      @media (max-width: 640px){
        font-size: 16px;
      }
    }

    .quote-info{
      margin: 0 0 0 50px;

      @media (max-width: 640px){
        margin: 20px auto 0 auto;
        position: relative;
        padding-left: 80px;
      }
    }

    .quote-avatar{
      width: 80px;
      height: 76px;
      display: block;
      border-radius: 50%;

      @media (max-width: 640px){
        width: 60px;
        height: 58px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img{
        display: block;
        width: 100%;
      }
    }

    .quote-name{
      color: #333333;
      font-size: 18px;
      font-family: 'ProximaB';
      margin: 5px 0;
    }

    .quote-post{
      color: #666666;
      font-size: 14px;
      margin: 5px 0;
    }
  }

  .event-section-4{
    padding: 70px 0;

    @media (max-width: 640px){
      padding: 50px 0;
    }

    .pic{
      float: right;
      margin: 30px;
      width: 400px;

      @media (max-width: 900px){
        width: 300px;
      }

      @media (max-width: 640px){
        float: none;
        width: calc(100% + 40px);
        margin-left: -20px;
        display: block;
      }

      img{
        width: 100%;
      }

      &-text{
        font-size: 14px;
        line-height: 25px;
        color: #999999;

        @media (max-width: 640px){
          padding: 0 20px;
        }

        span{
          display: inline-block;
          vertical-align: top;
          color: #cccccc;
          margin: 0 5px;

          @media (max-width: 900px){
            display: none;
          }
        }
      }
    }
  }

  .event-section-5{
    background-color: #f3f3f3;
    padding: 60px 0 1px 0;
    position: relative;
    z-index: 1;

    @media (max-width: 1220px){
      width: calc(100% + 80px);
      margin-left: -40px;
      padding: 50px 40px 30px 40px;
    }

    @media (max-width: 640px){
      width: calc(100% + 40px);
      margin-left: -20px;
      padding: 50px 20px 30px 20px;
    }

    .program{
      &-item{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 40px;

        @media (max-width: 900px){
          display: block;
        }

        &:last-child{
          .program-item__timeline{
            border-bottom: none;
          }
        }

        &__day{
          font-family: 'ProximaB';
          font-size: 16px;
          color: #333333;
          text-transform: uppercase;
          width: 150px;
          min-width: 150px;
          padding-right: 50px;

          @media (max-width: 900px){
            width: 100%;
            min-width: 0;
            padding-right: 0;
            margin-bottom: 30px;
          }

          span{
            text-transform: none;
            color: #cccccc;

            @media (max-width: 900px){
              display: inline;
            }
          }
        }

        &__timeline{
          border-bottom: 1px solid #ceced5;
        }

        &__inner{
          display: flex;
          justify-content: flex-start;
          margin-bottom: 40px;

          @media (max-width: 640px){
            display: block;
            margin-bottom: 30px;
          }
        }

        &__hours{
          margin: 0;
          width: 150px;
          min-width: 150px;
          padding-right: 50px;
          text-align: right;
          color: #333333;
          font-family: 'ProximaB';
          font-size: 16px;

          @media (max-width: 900px){
            width: 140px;
            min-width: 140px;
            padding-right: 40px;
          }

          @media (max-width: 640px){
            text-align: left;
          }
        }

        &__description{
          margin: 0;
          color: #666666;
          font-size: 18px;
          max-width: 600px;

          @media (max-width: 980px){
            max-width: 540px;
          }
        }
      }
    }
  }

  .event-section-6{
    padding: 80px 0;

    @media (max-width: 640px){
      padding: 40px 0;
    }
  }

  .event-section-7{
    padding-bottom: 30px;
  }

  .event-sliders{
    *{
      outline: none;
      box-sizing: border-box;
      font-size: 0;
    }

    .event-slider{
      position: relative;
      z-index: 5;

      @media (max-width: 1220px){
        width: calc(100% + 80px);
        margin-left: -40px;
      }

      @media (max-width: 640px){
        width: calc(100% + 40px);
        margin-left: -20px;
      }

      &:before{
        content: '';
        width: 100%;
        height: 250px;
        background-image: url("../img/event/slider/shadow.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
      }

      .slide{
        img{
          display: block;
          width: 100%;
        }
      }

      .slick-arrow{
        width: 10px;
        height: 18px;
        font-size: 0;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 80px;
        z-index: 2;
        background-image: url("../img/icons/arr-white.png");
        transition: 0.3s;
        opacity: 0.4;

        @media (max-width: 640px){
          display: none!important;
        }

        &:hover{
          opacity: 1;
        }

        &.slick-next{
          right: 50px;
        }

        &.slick-prev{
          right: 90px;
          transform: rotate(180deg);
        }
      }

      .slick-dots{
        text-align: center;
        margin: 15px 0 0 0;

        li{
          display: inline-block;
          vertical-align: top;
          margin: 0 7px;
          font-size: 0;

          button{
            border: none;
            cursor: pointer;
            background-color: none;
            padding: 0;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background-color: #aaafb8;
          }

          &.slick-active{
            button{
              background-color: #cd9a2b;
            }
          }
        }
      }
    }

    .event-slider-nav{
      position: relative;
      z-index: 4;
      top: -1px;
      @media (max-width: 1220px){
        width: calc(100% + 80px);
        margin-left: -40px;
      }

      @media (max-width: 640px){
        display: none;
      }

      .slide{
        position: relative;
        z-index: 1;
        font-size: 0;
        cursor: pointer;

        img{
          display: block;
          width: 100%;
        }

        &.slick-current{
          &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border: 4px solid #cd9a2b;
            box-sizing: border-box;
            background-color: rgba(0,0,0,0.7);
          }
        }
      }
    }
  }

  .event-section-8{
    padding: 70px 0 10px 0;

    @media (max-width: 900px){
      padding: 70px 0 0 0;
    }

    @media (max-width: 640px){
      padding: 20px 0 0 0;
    }

    .container2{
      border-bottom: 5px solid #f3f3f3;
      padding-bottom: 40px;
    }
  }

  .event-section-9{
    background-color: #f3f3f3;
    padding: 80px 0 40px 0;

    @media (max-width: 1220px){
      width: calc(100% + 80px);
      margin-left: -40px;
      padding: 80px 40px 1px 40px;
    }

    @media (max-width: 900px){
      display: none;
    }

    .container2{
      position: relative;
      z-index: 1;
    }

    .rotate-heading{
      left: - 240px;
    }
  }

  &__items{
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 640px){
      max-width: 400px;
      margin: 0 auto;
    }
  }

  &__item{
    width: 31%;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    display: block;
    margin-left: 3.5%;

    @media (max-width: 900px){
      width: 30%;
      margin-left: 5%;
    }

    @media (min-width: 900px){
      &:nth-of-type(4n + 1){
        margin-left: 0;
      }
    }

    @media (min-width: 640px) and (max-width: 900px){
      &:nth-of-type(3n + 1){
        margin-left: 0;
      }
    }


    @media (max-width: 640px){
      width: 100%;
      margin: 0 0 20px 0!important;
    }

    &:hover{
      .event-page__item-text{
        color: $yellow;
      }
    }

    &-pic{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      display: block;
      width: 100%;
      height: 127px;

      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
      }

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/news-page/shadow.png");
      }
    }

    &-container{

    }

    &-text{
      font-family: ProximaB;
      font-size: 18px;
      color: #333333;
      margin: 15px 0 10px 0;
      transition: 0.3s ease;
    }

    &-date{
      font-family: ProximaB;
      font-size: 11px;
      text-transform: uppercase;
      color: #ffffff;
      line-height: 30px;
      padding: 0 10px;
      text-align: center;
      position: absolute;
      top: 97px;
      left: 0;
      z-index: 4;
      background-color: #f7323f;

      span{
        display: inline;
      }

      @media (max-width: 1220px){
        span{
          display: none;
        }
      }
    }

    &-refresh{
      font-family: ProximaB;
      font-size: 10px;
      padding: 0 10px;
      height: 20px;
      line-height: 20px;
      background-color: #cd9a2b;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}