.exhibition{
  overflow: hidden;

  .rotate-heading{
    color: #333333;
    font-family: "ProximaBl";
    font-size: 45px;
    line-height: 40px;
    text-align: right;
    position: absolute;
    top: -80px;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;

    @media (max-width: 1220px){
      transform: none;
      text-align: left;
      position: static;
      margin-bottom: 40px;

      br{
        display: none;
      }
    }

    @media (max-width: 640px){
      font-size: 25px;
      line-height: 30px;
    }
  }

  .container2{
    @media (max-width: 1220px){
      padding: 0 40px;
    }
    @media (max-width: 900px){
      padding: 0 20px;
    }
  }

  &-section-1{
    background-image: url("../img/exhibition/section1/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 286px 0 70px 0;

    @media (max-width: 900px){
      padding: 280px 0;
    }

    @media (max-width: 640px){
      padding: 32px 0;
    }

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      z-index: 1;
    }

    .container2{
      position: relative;
      z-index: 2;
    }

    .subheading{
      margin: 0;
      color: #cd9a2b;
      font-size: 12px;
      text-transform: uppercase;
      font-family: 'ProximaB';
      margin-bottom: 8px;
      letter-spacing: 2px;
    }

    .heading{
      font-size: 45px;
      font-weight: 700;
      line-height: 55px;
      color: #ffffff;
      font-family: 'ProximaB';
      letter-spacing: -1px;

      @media (max-width: 640px){
        font-size: 30px;
        line-height: 40px;
      }

      span{
        color: #cd9a2b;
      }
    }

    .text{
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin: 20px auto 0 auto;
      max-width: 620px;

      @media (max-width: 640px){
        font-size: 16px;
        line-height: 25px;
      }
    }

    .btn{
      width: 200px;
      height: 60px;
      border: 2px solid #ffffff;
      display: block;
      margin: 42px auto 0 auto;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      border-radius: 40px;
      color: #ffffff;
      font-size: 16px;
      position: relative;

      a{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      } 

      @media (max-width: 640px){
        font-size: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 30px auto 0 auto;
      }

      img{
        display: inline-block;
        vertical-align: middle;
        margin: -3px 12px 0 0;

        @media (max-width: 640px){
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  &-section-2{
    background-image: url("../img/exhibition/section2/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 70px 0;

    @media (max-width: 640px){
      padding: 30px 0;
    }


    .items{
      display: flex;
      justify-content: space-between;

      @media (max-width: 640px){
        display: block;
      }
    }

    .item{
      width: 15%;

      @media (max-width: 640px){
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 25px;
      }

      &-pic{
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto 25px auto;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        background-color: #fdfefd;

        @media (max-width: 640px){
          margin: 0 15px 0 0;
          min-width: 56px;
          width: 56px;
          height: 56px;
        }

        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          z-index: 1;

          @media (max-width: 640px){
            transform: translateY(-50%) translateX(-50%) scale(0.6);
          }
        }
      }

      &-text{
        color: #333333;
        font-size: 16px;
        line-height: 23px;
        font-family: 'ProximaB';
        text-align: center;
        letter-spacing: -1px;

        @media (max-width: 640px){
          text-align: left;
        }
      }
    }

    hr{
      margin-bottom: 70px;
      margin-top: 40px;
      border-bottom: 1px solid #ceced5;

      @media (max-width: 640px){
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }

    .text-block{
      display: flex;
      justify-content: space-between;

      @media (max-width: 640px){
        display: block;
      }

      .col{
        width: 48.5%;

        @media (max-width: 640px){
          width: 100%;
        }

        p{
          color: #000000;
          font-size: 18px;
          line-height: 30px;
          margin: 0;

          @media (max-width: 640px){
            font-size: 16px;
            line-height: 25px;
          }
        }
      }
    }
  }

  &-section-3{
    padding: 80px 0 27px 0;

    @media (max-width: 640px){
      padding: 40px 0 10px 0;
    }

    .container2{
      position: relative;
      z-index: 1;
    }

    .rotate-heading{
      left: -390px;
    }

    .items{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 640px){
        display: block;
      }
    }

    .item{
      width: 49%;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 60px;

      @media (max-width: 640px){
        width: 100%;
        margin-bottom: 40px;
      }

      &-pic{
        min-width: 150px;
        width: 150px;
        height: 150px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;

        @media (max-width: 900px){
          min-width: 100px;
          width: 100px;
          height: 100px;
        }

        @media (max-width: 640px){
          min-width: 80px;
          width: 80px;
          height: 80px;
        }
      }

      &-text{
        color: #333333;
        font-size: 18px;
        line-height: 30px;
        margin: 0 0 0 30px;

        @media (max-width: 900px){
          font-size: 16px;
          line-height: 25px;
          margin: 0 0 0 20px;
        }
      }
    }
  }

  &-section-4{
    .items{
      display: flex;
      justify-content: center;

      @media (max-width: 640px){
        display: block;
      }
    }

    .item{
      width: 33.333%;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      cursor: pointer;

      @media (max-width: 900px){
        padding: 20px;
      }

      @media (max-width: 640px){
        width: 100%;
        height: 250px;
        justify-content: center;
      }

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
      }

      &-text{
        position: relative;
        z-index: 2;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        font-family: 'ProximaB';

        @media (max-width: 900px){
          font-size: 24px;
          line-height: 30px;
        }

        &:after{
          content: '';
          width: 40px;
          height: 3px;
          background-color: #cd9a2b;
          display: block;
          margin: 30px auto 0 auto;

          @media (max-width: 640px){
            margin: 10px auto 0 auto;
          }
        }
      }
    }
  }

  &-section-5{
    padding: 80px 0 64px 0;

    @media (max-width: 640px){
      padding: 50px 0;
    }

    .container2{
      position: relative;
      z-index: 1;
    }

    .rotate-heading{
      left: -240px;
      top: -40px;
    }

    .items{
      display: flex;
      justify-content: space-between;

      @media (max-width: 640px){
        display: block;
      }
    }

    .item{
      width: 15%;

      @media (max-width: 900px){
        width: 18%;
      }

      @media (max-width: 640px){
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &-pic{
        width: 100px;
        min-width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 0 30px 0;

        @media (max-width: 640px){
          margin: 0 20px 20px 0;
        }
      }

      &-heading{
        color: #000000;
        font-size: 30px;
        line-height: 25px;
        font-family: 'ProximaB';
        margin: 0 0 12px 0;

        @media (max-width: 900px){
          font-size: 25px;
        }

        @media (max-width: 640px){
          margin: -20px 0 0 0;
        }
      }

      &-text{
        color: #333333;
        font-size: 18px;
        line-height: 20px;
        margin: 0 0 0 0;

        @media (max-width: 900px){
          font-size: 15px;
          letter-spacing: -1px;
        }
      }
    }
  }

  &-section-6{
    padding: 36px 0 40px 0;
    background-image: url("../img/exhibition/section6/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container2{
      position: relative;
    }

    .project-items{
      display: flex;
      justify-content: space-between;
      margin: 40px auto 0 auto;
      position: relative;
      z-index: 1;
      width: calc(100% + 30px);
      margin-left: -15px;

      *{
        outline: none;
      }

      .slick-arrow{
        width: 10px;
        height: 18px;
        font-size: 0;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: -88px;
        z-index: 2;
        background-image: url("../img/icons/arr-white.png");
        transition: 0.3s;
        opacity: 0.4;

        @media (max-width: 640px){
          top: -85px;
        }

        &:hover{
          opacity: 1;
        }

        &.slick-next{
          right: 15px;
        }

        &.slick-prev{
          right: 55px;
          transform: rotate(180deg);
        }
      }
    }

    .project-item{
      padding: 0 15px;
      position: relative;
      overflow: hidden;
      color: #fff;

      .img{
        height: 170px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 0 24px 0;

        @media (max-width: 640px){
          margin: 0 0 20px 0;
        }
      }

      &:hover{
        h2{
          color: $yellow;
        }
      }

      h2{
        color: #fdfefc;
        font-size: 20px;
        line-height: 25px;
        font-family: 'ProximaB';
        transition: 0.3s;

        @media (max-width: 640px){
          font-size: 18px;
        }
      }

      p{
        color: #999999;
        font-family: 'ProximaB';
        font-size: 11px;
        line-height: 25px;
        text-transform: uppercase;
        margin: 20px 0 0 0;
      }

      hr{
        width: 40px;
        margin-top: 30px;
        border-bottom: 3px solid $yellow;
      }
    }

    .project-h{
      width: 100%;
      text-align: center;

      h4{
        color: #fff;

        @media (max-width: 640px){
          text-align: left;
          max-width: 200px;
        }
      }

      hr{
        width: 100%;
        margin: 25px auto 0;
        border-bottom: 1px solid #999797;
      }
    }
  }

  &-section-7{
    padding: 80px 0;
    background-color: #fff;

    @media (max-width: 640px){
      padding: 50px 0;
    }

    .container2{
      position: relative;
      z-index: 1;

      @media (max-width: 640px){
        padding: 0;
      }
    }

    .rotate-heading{
      left: -340px;

      @media (max-width: 640px){
        max-width: 200px;
      }
    }

    .feedback{
      .item{
        float: left;
        width: 33.33%;
        padding-right: 35px;
        &:last-child{
          padding-right: 0;
        }

        .item-h{
          margin-bottom: 30px;
          .img, .text{
            float: left;
          }

          .img{
            width: 30%;
            border-radius: 50%;

            img{
              height: 80px;
              border-radius: 50%;
            }
          }

          .text{
            width: 70%;
            padding-left: 20px;

            h3{
              color: $dark-gray;
            }

            .small{
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  &-section-8{
    padding: 100px 0;

    @media (max-width: 640px){
      padding: 50px 0 10px 0;
    }

    .block{
      display: flex;
      justify-content: space-around;

      @media (max-width: 640px){
        display: block;
      }
    }

    .fieldset{
      width: 47.8%;
      border: 5px solid #cd9a2b;
      position: relative;
      z-index: 1;
      padding-top: 40px;
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;

      @media (max-width: 640px){
        width: 100%;
        margin-bottom: 40px;
      }

      .legend{
        position: absolute;
        background-color: #fff;
        left: calc(50% - 32px);
        top: -25px;
        padding: 0 20px;
      }

      &:hover{
        .block-item{
          opacity: 0;
          pointer-events: none;
        }

        .btn{
          opacity: 1;
        }
      }

      .block-item{
        text-align: center;
        transition: 0.3s;

        &-heading{
          color: #333333;
          font-family: 'ProximaB';
          font-size: 16px;
          line-height: 30px;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        &-price{
          color: #333333;
          font-family: 'ProximaB';
          font-size: 18px;
          line-height: 25px;
          margin-top: 10px;

          span{
            color: #cd9a2b;
            font-family: 'ProximaB';
            font-size: 50px;
            line-height: 35px;
            display: inline-block;
            vertical-align: middle;
          }
        }

        &-list{
          li{
            display: inline-block;
            vertical-align: top;
            color: #333333;
            font-size: 16px;
            line-height: 25px;

            &:nth-of-type(1){
              &:after{
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin: 0 5px;
                width: 4px;
                height: 4px;
                background-color: $yellow;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    .btn{
      // width: 300px;
      display: block;
      min-width: 250px;
      height: 69px;
      line-height: 69px;
      padding: 0 35px;
      color: #ffffff;
      font-family: 'ProximaB';
      font-size: 12px;
      text-transform: uppercase;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
      background-color: #cd9a2b;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 2;
      transition: 0.3s;
      opacity: 0;
      letter-spacing: 3px;
    }
  }

  &-section-9{
    padding: 80px 0 48px 0;
    background-color: #3b3f48;

    @media (max-width: 640px){
      padding: 50px 0;
    }

    .rotate-heading{
      left: -300px;
      color: white;
    }

    .container2{
      position: relative;
      z-index: 1;
    }

    .items{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 640px){
        display: block;
      }
    }

    .item{
      width: 49%;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
      cursor: pointer;

      @media (max-width: 640px){
        width: 100%;
        display: block;
        margin-bottom: 40px;
      }

      &:hover{
        .item-heading{
          color: $yellow;
        }
      }

      &-pic{
        min-width: 133px;
        width: 133px;
        height: 83px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;

        @media (max-width: 900px){
          width: 120px;
          min-width: 120px;
          height: 70px;
        }

        @media (max-width: 640px){
          width: 135px;
          min-width: 135px;
          height: 85px;
        }
      }

      &-block{
        margin: 0 0 0 30px;

        @media (max-width: 900px){
          margin: 0 0 0 20px;
        }

        @media (max-width: 640px){
          margin: 15px 0 0 0;
        }
      }

      &-heading{
        color: #ffffff;
        font-size: 18px;
        font-family: 'ProximaB';
        margin: 0 0 15px 0;
        transition: 0.3s;

        @media (max-width: 640px){
          margin: 0 0 5px 0;
        }
      }

      &-text{
        color: #ffffff;
        opacity: 0.7;
        font-size: 14px;

        @media (max-width: 640px){
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }

  &-section-10{
    padding: 100px 0;

    @media (max-width: 640px){
      padding: 35px 0 15px 0;
    }

    .iphone{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 190px;
      max-height: 100%;

      @media (max-width: 1200px){
        left: 40px;
      }

      @media (max-width: 900px){
        left: 20px;
      }

      @media (max-width: 640px){
        width: 100px;
        top: -61px;
      }
    }

    .container2{
      position: relative;
      z-index: 1;
      padding-left: 228px;

      @media (max-width: 1200px){
        padding-left: 270px;
      }

      @media (max-width: 900px){
        padding-left: 230px;
      }

      @media (max-width: 640px){
        padding-left: 20px;
      }
    }

    h2{
      color: #333333;
      font-family: 'ProximaB';
      font-size: 30px;
      line-height: 35px;
      padding: 15px 0 0 0;
      margin: 0 0 36px 0;

      @media (max-width: 640px){
        padding-left: 120px;
        min-height: 142px;
        font-size: 22px;
        line-height: 25px;
      }
    }

    hr{
      margin-bottom: 30px;
      margin-top: 15px;
      border-bottom: 1px solid #dfdfdf;
    }

    .items{
      display: flex;
      justify-content: space-between;

      @media (max-width: 640px){
        display: block;
      }
    }

    .item{
      @media (max-width: 640px){
        position: relative;
        z-index: 1;
        padding-left: 50px;
        margin-bottom: 20px;
      }

      &-pic{
        height: 32px;

        @media (max-width: 640px){
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        img{
          display: block;
        }
      }

      &-heading{
        font-family: 'ProximaB';
        color: #333333;
        font-size: 18px;

        @media (max-width: 640px){
          margin: 0 0 10px 0;
        }
      }

      &-text{
        opacity: 0.7;
        color: #333333;
        font-size: 14px;
      }
    }

    .bottom{
      display: flex;
      justify-content: flex-start;

      @media (max-width: 900px){
        display: block;
      }
    }

    .text{
      margin: 0 0 0 0;
      opacity: 0.7;
      color: #000000;
      font-size: 16px;
      line-height: 25px;

      @media (max-width: 640px){
        margin-bottom: 15px;
      }
    }

    .store-link{
      display: block;
      width: 132px;
      min-width: 132px;
      margin: 0 0 0 10px;

      @media (max-width: 900px){
        margin: 0 0 15px 0;
        display: none;
      }

      img{
        width: 100%;
        display: block;
      }
    }

    .download{
      color: #ffffff;
      font-size: 12px;
      line-height: 50px;
      text-transform: uppercase;
      font-family: 'ProximaB';
      text-align: center;
      width: 240px;
      display: none;
      background-color: #cd9a2b;

      @media (max-width: 900px){
        margin: 15px 0 0 0;
        display: block;
      }

      @media (max-width: 640px){
        width: 280px;
        margin: 15px auto 0 auto;
      }
    }
  }

  &-section-11{
    &__items{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item{
      width: 50%;
      height: 350px;
      position: relative;
      z-index: 2;
      text-align: center;
      padding: 20px 50px;
      overflow: hidden;

      @media (max-width: 900px){
        padding: 30px 45px;
      }

      @media (max-width: 640px){
        width: 100%;
        height: 250px;
      }

      &:hover{
        .exhibition-section-11__item-container{
          transform: translateY(-100px);
          opacity: 0;
          pointer-events: none;
        }
        .exhibition-section-11__item-btn{
          top: calc(100% - 100px);
          opacity: 1;
        }
      }

      &-pic{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;

        &:after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-color: rgba(0,0,0,0.5);
        }
      }

      &-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 100%;
        transition: 0.3s;

        @media (max-width: 640px){
          justify-content: center;
        }

        &>*{
          width: 100%;
        }
      }

      &-subheading{
        color: #cd9a2b;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      &-heading{
        font-size: 30px;
        line-height: 35px;
        color: white;

        @media (max-width: 900px){
          font-size: 20px;
          line-height: 25px;
        }

        span{
          color: #cd9a2b;
          display: inline;
        }
      }

      &-text{
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
        min-height: 75px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media (max-width: 900px){
          display: none;
        }
      }

      &-btn{
        color: #ffffff;
        font-size: 12px;
        height: 50px;
        text-transform: uppercase;
        font-family: 'ProximaB';
        width: 200px;
        display: block;
        background-color: #cd9a2b;
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        z-index: 10;
        left: calc(50% - 100px);
        top: 100%;
        transition: 0.3s;
        opacity: 0;
      }
    }
  }

  .follow{
    padding: 0 0 0 0;

    .container2{
      border-top: 5px solid #f3f3f3;
      padding: 40px 0 40px 0;

      @media (max-width: 1200px){
        padding: 40px;
      }

      @media (max-width: 900px){
        padding: 20px;
      }
    }
  }

  .exhibition-sliders{
    *{
      outline: none;
      box-sizing: border-box;
    }

    .container2{
      position: relative;
      z-index: 2;
    }

    .rotate-heading{
      left: -240px;
      top: 0;
      color: white;

      @media (max-width: 1200px){
        position: absolute;
        top: 60px;
        left: 40px;
      }

      @media (max-width: 640px){
        position: static;
        color: #333333;
        margin-bottom: 20px;
      }
    }

    .exhibition-slider{
      position: relative;
      z-index: 1;

      //@media (max-width: 1220px){
      //  width: calc(100% + 80px);
      //  margin-left: -40px;
      //}
      //
      //@media (max-width: 640px){
      //  width: calc(100% + 40px);
      //  margin-left: -20px;
      //}

      &:before{
        content: '';
        width: 100%;
        height: 250px;
        background-image: url("../img/event/slider/shadow.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
      }

      .slide{
        img{
          display: block;
          width: 100%;
        }
      }

      .slick-arrow{
        width: 10px;
        height: 18px;
        font-size: 0;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 80px;
        z-index: 2;
        background-image: url("../img/icons/arr-white.png");
        transition: 0.3s;
        opacity: 0.4;

        @media (max-width: 640px){
          display: none!important;
        }

        &:hover{
          opacity: 1;
        }

        &.slick-next{
          right: 50px;
        }

        &.slick-prev{
          right: 90px;
          transform: rotate(180deg);
        }
      }

      .slick-dots{
        text-align: center;
        margin: 15px 0 0 0;

        li{
          display: inline-block;
          vertical-align: top;
          margin: 0 7px;
          font-size: 0;

          button{
            border: none;
            cursor: pointer;
            background-color: none;
            padding: 0;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background-color: #aaafb8;
          }

          &.slick-active{
            button{
              background-color: #cd9a2b;
            }
          }
        }
      }
    }

    .exhibition-slider-nav{
      // @media (max-width: 1220px){
      //   width: calc(100% + 80px);
      //   margin-left: -40px;
      // }

      @media (max-width: 640px){
        display: none;
      }

      .slide{
        position: relative;
        z-index: 1;
        font-size: 0;
        cursor: pointer;

        img{
          display: block;
          width: 100%;
        }

        &.slick-current{
          &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border: 4px solid #cd9a2b;
            box-sizing: border-box;
            background-color: rgba(0,0,0,0.7);
          }
        }
      }
    }
  }
}