.exhibitions{
  &-section{

  }

  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item{
    width: 33.333%;
    height: 350px;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px 50px;
    overflow: hidden;

    @media (max-width: 900px){
      padding: 30px 45px;
    }

    @media (max-width: 640px){
      width: 100%;
      height: 250px;
    }

    &:nth-of-type(1),
    &:nth-of-type(2){
      width: 50%;

      @media (max-width: 640px){
        width: 100%;
      }
    }

    @media (min-width: 901px){
      &:hover{
        .exhibitions__item-container{
          transform: translateY(-100px);
          opacity: 0;
          pointer-events: none;
        }
        .exhibitions__item-btn{
          top: calc(100% - 100px);
          opacity: 1;
        }
      }
    }


    &-pic{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;

      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,0.5);
      }
    }

    &-container{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      height: 100%;
      transition: 0.3s;

      @media (max-width: 640px){
        justify-content: center;
      }

      &>*{
        width: 100%;
      }
    }

    &-subheading{
      color: #cd9a2b;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    &-heading{
      font-size: 30px;
      line-height: 35px;

      @media (max-width: 900px){
        font-size: 20px;
        line-height: 25px;
      }

      span{
        color: #cd9a2b;
        display: inline;
      }
    }

    &-text{
      color: #ffffff;
      font-size: 16px;
      line-height: 25px;
      min-height: 75px;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      @media (max-width: 900px){
        display: none;
      }
    }

    &-btn{
      color: #ffffff;
      font-size: 12px;
      height: 50px;
      text-transform: uppercase;
      font-family: 'ProximaB';
      width: 200px;
      display: block;
      background-color: #cd9a2b;
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
      z-index: 10;
      left: calc(50% - 100px);
      top: 100%;
      transition: 0.3s;
      opacity: 0;
      letter-spacing: 3px;

      @media (max-width: 900px){
        display: none;
      }

      @media (max-width: 640px){
        display: block;
        opacity: 1;
        top: auto;
        bottom: 15px;
      }
    }
  }
}