.feedback-page{
  .rotate-heading{
    color: #333333;
    font-family: "ProximaBl";
    font-size: 45px;
    line-height: 40px;
    text-align: right;
    position: absolute;
    top: -80px;
    left: -260px;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;

    span{
      color: #cccccc;
      display: inline;
    }

    @media (max-width: 1220px){
      transform: none;
      text-align: left;
      position: static;
      margin-bottom: 40px;

      br{
        display: none;
      }
    }

    @media (max-width: 640px){
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  .text-bold{
    font-family: 'ProximaB';
    color: #333333;
    font-size: 22px;

    @media (max-width: 640px){
      font-size: 16px;
    }
  }

  &-section-1{
    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-bottom: 30px;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &-section-2{
    background-image: url("../img/feedback/section2/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: #ffffff;
    overflow: hidden;

    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-left: 20px;
      padding-right: 20px;
    }

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5;
      z-index: 1;
    }

    .quote{
      color: #cd9a2b;
      font-family: "ProximaBl";
      font-size: 150px;
      font-weight: 900;
      line-height: 130px;
      position: absolute;
      top: 70px;
      left: -110px;
      z-index: 1;
      margin: 0;

      @media (max-width: 1220px){
        position: static;
        line-height: 6px;
      }

      @media (max-width: 640px){
        font-size: 90px;
      }
    }

    .container2{
      position: relative;
      z-index: 2;
      padding: 54px 0 64px 0;

      @media (max-width: 1220px){
        padding: 94px 0 64px 0;
      }

      @media (max-width: 640px){
        padding: 54px 0 24px 0;
      }
    }

    .man{
      position: absolute;
      bottom: -48px;
      right: -100px;
      z-index: 0;

      @media (max-width: 900px){
        width: 350px;
      }

      @media (max-width: 640px){
        width: 160px;
        right: 0;
        bottom: -20px;
      }
    }

    .block{
      width: 100%;
      max-width: 660px;
      position: relative;
      z-index: 3;

      @media (max-width: 900px){
        max-width: 420px;
      }
    }

    .text{
      font-size: 18px;
      line-height: 30px;

      @media (max-width: 640px){
        font-size: 16px;
        line-height: 25px;
      }
    }

    .bottom{
      margin: 52px 0 0 0;
      display: block;

      @media (max-width: 900px){
        max-width: 240px;
      }

      @media (max-width: 640px){
        max-width: 170px;
      }
    }

    .name{
      font-family: "ProximaB";
      font-size: 20px;
      margin: 0;
    }

    .post{
      font-size: 16px;
      opacity: 0.5;
      margin: 7px 0 0 0;

      @media (max-width: 640px){
        font-size: 14px;
      }
    }
  }

  &-section-3{
    background-color: #eaeaea;
    padding-bottom: 80px;
    padding-top: 70px;

    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-bottom: 30px;
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &-form{
    margin: 0 auto;

    @media (max-width: 900px){
      max-width: 100%;
    }

    .show-md{

    }

    &__heading{
      color: #333333;
      font-family: 'ProximaB';
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 4px;
      text-transform: uppercase;
      border-top: 5px solid #3b3f48;
      border-bottom: 1px solid #ceced5;
      padding: 25px 0 22px 0;
    }

    &__container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 26px 0 0 0;

      @media (max-width: 640px){
        height: auto;
        margin: 0 auto;
      }
    }

    &__group{
      width: 46%;

      @media (max-width: 640px){
        width: 100%;
      }

      &_big{
        width: 100%;
      }
    }

    &__label{
      color: #333333;
      font-size: 18px;
      line-height: 25px;
      margin: 18px 0;
      min-height: 25px;
    }

    &__input{
      width: 100%;
      height: 40px;
      background-color: white;
      border: none;
      border-radius: 0;
      padding: 0 20px;
    }

    &__textarea{
      width: 100%;
      height: 140px;
      resize: none;
      border: none;
      border-radius: 0;
      padding: 10px 20px;
      font-family: inherit;
    }

    &__captcha{
      width: 100%;
      height: 140px;
      background-color: #dcdce1;
      padding: 18px 30px 30px 30px;

      @media (max-width: 1000px){
        p{
          display: none;
        }
      }

      &-container{
        display: flex;
        justify-content: space-between;

        @media (max-width: 1000px){
          display: block;
        }
      }

      &-pic{
        max-width: 96%;
        display: block;
        margin: 0 auto 15px auto;
      }

      &-input{
        width: 200px;
        height: 40px;
        background-color: white;
        border: none;
        border-radius: 0;
        padding: 0 20px;
        display: block;
        margin: 0 auto 0 auto;

        @media (max-width: 1000px){
          width: 100%;
        }
      }
    }

    &-bottom{
      margin: 25px auto 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 640px){
        margin: 20px auto 0 auto;
      }
      
      p{
        color: #333333;
        font-size: 18px;
        line-height: 25px;
        vertical-align: top;
        
        @media (max-width: 900px){
          &.hidden-md{
            display: none; 
          }
        }

        img{
          margin-top: 3px;
          vertical-align: top;
          margin-right: 10px;
        }
      }
    }

    .btn{
      width: 170px;
      height: 60px;
      background-color: #cd9a2b;
      border: none;
      outline: none;
      font-family: ProximaB;
      color: #ffffff;
      font-size: 12px;
      display: block;
      text-transform: uppercase;
      letter-spacing: 3px;
      cursor: pointer;

      @media (max-width: 640px){
        margin: 0 auto;
        width: 220px;
      }
    }
  }
}