.follow{
  padding: 30px 0 50px 0;

  @media (max-width: 640px){
    padding: 30px 0 30px 0;
  }

  &-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 640px){
      display: block;

    }
  }

  &-text{
    color: #000000;
    font-size: 16px;
  }

  &-icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 50px;

    @media (max-width: 640px){
      margin: 15px 0 0 0;
    }
  }

  &-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0;
    margin: 0 12px 0 0;

    &:last-child{
      margin-right: 0;
    }

    @media (max-width: 640px){
      
    }

    a{
      opacity: 1;
      transition: 0.3s;
      font-size: 20px;
      color: #cacbca;

      &:hover{
        opacity: 1;
        color: #8e8e8e;
      }
    }

    span{
      width: 32px;
      height: 27px;
      line-height: 27px;
      border: 1px solid #c5c6c5;
      opacity: 0.5;
      text-align: center;
      color: #999999;
      font-size: 13px;
      position: relative;
      z-index: 1;
      margin: 0 0 0 6px;

      @media (max-width: 640px){
        
      }

      &:before{
        content: '';
        width: 6px;
        height: 6px;
        border-top: 1px solid #c5c6c5;
        border-left: 1px solid #c5c6c5;
        position: absolute;
        top: 9px;
        left: -4px;
        z-index: 2;
        background-color: white;
        transform: rotate(-45deg);
      }
    }
  }
}

.ticket-img{
  margin-top: 70px;
  margin-bottom: 56px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 1;

  @media(max-width: 960px){
    margin: 30px auto;
    width: 80px;
    height: 80px;
  }

  &.blue{
    background-color: #2871bd;
  }

  &.orange{
    background-color: #deaa38;
  }

  &.white{
    background-color: #ffffff;
  }

  img{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    max-height: 60%;
  }
}