*{
  box-sizing: border-box;
}
*:after, 
*:before{
  box-sizing: border-box;
}

div,section{
	// min-height: 1px;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

.row:before, .row:after{
	content: '';
	display: table;
	clear: both;
}

.container-fl{
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
}

.container1{
	width: 1200px;
	margin: 0 auto;
}

.container2{
	width: 900px;
	margin: 0 auto;
	position: relative;
}

