@media only screen and (max-width : 1410px){
	.slider-1-control{
		top: -71px;
		right: 0;
	}
	.slider-3-control{
		top: -71px;
		right: 0;
	}
	.slider-about-control{
		top: 25px;
		right: -100px;
	}
	.section-5 .section-header{
		height: auto;
	}
	.section-header{
		position: static;
		padding: 0;
		margin-bottom: 40px;
		width: 100%;
		height: auto;
		.pin{
			position:static;
			width:100%;
			height:auto;
			writing-mode: horizontal-tb;
			display: block;
		}
		.pin h1{
			margin: 0;
			display: block;
			line-height: 1;
			text-align: left;
			transform: none;
		}
	}
}

@media only screen and (max-width : 1305px){
	.header-schedule{
		h3{
			margin-top: 20px;
		}
		.header-number{
			font-size: 22px;
		}
	}
}

@media only screen and (max-width : 1220px){
	.menu-2-logo-wr{
		display: none;
	}
	.menu-2{
		width: 75%;
		padding-left: 40px;
	}
	.section-3{
		min-height: auto;
		padding-bottom: 150px;
	}
	.news-min-img{
		min-height: 80px;
	}
	.slider-2-control{
		width: 110px;
		height: 8px;
		margin-left: -55px;
		left: 50%;
		top: auto;
		bottom: -50px;
	}
	.slider-paginator-1{
		display: inline-block;
		border-radius: 50%;
		margin-left: 24px;
		&:first-child{
			margin-left: 0;
		}
	}
	.slider-about-control{
		top: -68px;
		right: 35px;
	}
	.container1, .container2{
		width: 100%;
	}

	.container1, .section-2 .container2, .ticket-page .container2,
	.order-result .container2{
		padding-left: 40px;
		padding-right: 40px;
	}

	.ticket-page{
		.ticket-step-number{
			position: static;
			margin-bottom: 20px;
			font-size: 60px;
		}
	}

	//Шапка
	.video{
		.logo-wr{
			width: 50%;
		}
	}
	.menu{
		width: 75%;
	}
	.header-time .header-small, .header-battle .header-small{
		margin-top: 180px;
	}
	.header-schedule{
		.header-sale-ticket{
			span{
				width: 80%;
			}
		}
	}
}

@media only screen and (max-width : 991px){
	.section-2 .news .news-min .news-min-img{
		width: 45%;
	}
	.section-2 .news .news-min .news-text{
		width: 55%;
	}
}

@media only screen and (max-width : 955px){
	// .menu{
	// 	width: 72.5%;
	// 	padding-left: 20px;
	// 	padding-right: 20px;
	// }
	// .menu-right{
	// 	width: 27.5%;
	// }
	.header-blocks{
		width: 55%;
	}
	.video{
		width: 45%;
	}
	.footer-full{
		.footer-menu{
			.soc-menu{
				li{
					margin-left: 7px;
				}
			}
		}
	}
	.footer-full .footer-copy li img{
		margin-right: 5px;
	}
	.footer-full .footer-copy li{
		font-size: 12px;
	}
}

@media only screen and (max-width : 900px){
	h1{
		font-size: 45px;
	}
	
	//Header
	.city{
		font-size: 14px;
	}
	.video, .header-blocks{
		height: 480px;
		width: 100%;
	}
	.header-schedule hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.header-schedule .header-alias-900{
		display: block;
	}
	.video{
		.logo-wr{
			margin-top: 67px;
		}
		.video-button-wr{
			margin-top: 47px;
			a{
				margin-bottom: 15px;
			}
		}
	}
	.header-buy{
		.ticket-img{
			margin-top: 40px;
			margin-bottom: 12px;
			width: 60px;
			height: 60px;
		}
	}
	.header-battle, .header-time{
		.header-small{
			margin-top: 120px;
		}
	}
	.menu-full, .menu-2-full{
		display: none;
	}
	.menu-900, .menu-2-900{
		display: block;
	}


	//Content
	h2{
		font-size: 25px;
	}
	.price{
		font-size: 30px;
	}
	.price-count{
		width: 130px;
		.count-value-wr,.count-value{
			width: 50px;
		}
		.count-value-wr:after{
			left: 10px;
		}
	}

	//Order page
	.order-result{
		.left-block, .right-block{
			width: 100%;
			margin: 0;
		}

		.left-block{
			margin-bottom: 40px;
		}

		.right-block{
			padding-bottom: 35px;
		}

		.order-details-2{
			align-items: center;
		}
	}

	//Ticket page
	.ticket-page{
		.h25{
			font-size: 20px;
		}
	}

	//Общие классы для страницы билетов
	.change-abon .item .alias-row.row-1 {
		width: 50%;
	}
	.change-abon .item .alias-row.row-2{
		width: 50%;
	}
	.change-eks{
		.item{
			padding: 30px 20px 25px;
			.h25{
				font-size: 20px;
			}
			
			.change-eks-price{
				align-items: flex-start;
				.left{
					width: 100%;
					margin: 0;
				}
				.middle{
					line-height: 1;
				}
				.right{
					margin: 0;
				}
			}
		}
	}
	.change-eks .item .h25{
		font-size: 20px;
	}
	.pay-form .item{
		width: 45%;
	}
	.pay-form .item-3{
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		.item-3-promo, .text{
			width: 50%;
		}
		.item-3-promo{
			text-align: center;
			margin-bottom: 0;
			justify-content: center;
		}
	}
	.total-price .total-price-cost .text-900{
		line-height: 60px;
		display: inline;
	}
	.total-price .total-price-cost .text-full{
		display: none;
	}
	.product-alias, .spec-project-alias{
		width: 80%;
	}

	
	//Ticket sections
	.ticket-section-4 .change-ticket-type .item-wr .item{
		min-height: 370px;
	}
	.ticket-section-5 .change-time{
		display: none;
	}
	.ticket-section-5 .change-time-900{
		display: block;
	}
	.ticket-section-7{
		padding-top: 10px;
	}
	

	//Index sections
	.section-2 .news .news-min{
		padding-left: 20px;
		margin-top: 30px;
	}
	.section-2 .news .news-min:last-child{
		display: none;
	}
	.section-2 .news .news-min .news-text span{
		margin-top: 10px;
	}
	.section-2 .vdnh{
		height: 110px;
		top: -55px;

		.vdnh-header{
			line-height: 110px;
		}
	}

	.section-3 .fact-slide{
		min-height: 0;
	}
	.section-3 .fact-slide .text{
		padding-top: 0;
		padding-left: 30px;
		margin-top: 20px;
	}
	.section-3 .fact-slide hr{
		position: relative;
		left: -30px;
	}

	.section-4{
		.project-item{
			.img{
				height: 580px;
			}
			.text{
				bottom: 60px;
			}
		}
		.project-h{
			top: 15px;
			hr{
				margin-top: 10px;
			}
		}
	}

	.section-5 .blog h3{
		font-size: 20px;
	}
	
	.section-7 .map .img{
		width: 76%;
	}
	.section-7 .map .text-full{
		display: none;
	}
	.section-7 .map .text-900{
		display: block;
	}
	.section-7 .map{
		padding-left: 0;
		padding-right: 0;
	}
	.section-7 .map-header{
		min-height: 120px;
		padding-top: 20px;
		top: -60px;

		a{
			height: 120px;
		}

		.text{
			width: 80%;
			border: none;

			h2{
				font-size: 30px;
			}
		}
	}

	.section-8 .slider-wr{
		display: block;
	}
	.section-8 .partner{
		display: none;
	}
	
	//Footer
	.footer{
		.footer-full{
			display: none;
		}
		.footer-900{
			display: block;
		}
	}
}
@media only screen and (max-width : 800px){
	.menu-2-900, .menu-900{
		.logo-2{
			margin-right: 20px;
		}
	}
	.ticket-page .container2{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media only screen and (max-width : 750px){
	.city{
		display: none;
	}
}
@media only screen and (max-width : 720px){
	.slider-about-control{
		right: 0;
	}

	.menu-2-900{
		.ticket{
			display: none;
		}
	}
	.menu-2-900-ul{
		padding-bottom: 0;
		.soc-menu{
			margin-bottom: 20px;
		}
		.ticket-640{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
	}
}
@media only screen and (max-width : 705px){
	//Content
	h1{
		font-size: 30px;
	}
	.total-price{
		height: auto;
		padding-top: 25px;
		padding-bottom: 30px;
		line-height: normal;
		.total-price-step{
			display: none;
		}
		.total-price-cost{
			width: 100%;
			height: auto;
			.text-full, .price{
				text-align: center;
			}
			.text-full{
				display: block;
				margin-bottom: 12px;
			}
			.text-900{
				display: none;
			}
			.price{
				display: block;
				margin: 0;
				margin-bottom: 12px;
			}
			a{
				display: block;
				float: none;
				width: 220px;
				margin: 0 auto;
			}
		}
	}
}

@media only screen and (max-width : 640px){
	//Header
	.header-blocks{
		height: auto;
		.row{
			height: auto;
		}
	}
	.header-eks-640, .header-ticket-640{
		display: block;
	}
	.header-battle,.header-time,.header-buy{
		display: none;
	}
	.header-schedule{
		width: 100%;
		min-height: 340px;
		padding-bottom: 20px;
		.header-number-alias{
			display: block;
		}
		.header-alias-900{
			display: none;
		}
		hr{
			display: block;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		h3{
			text-align: center;
			margin-top: 0;
			margin-bottom: 30px;
		}

		.header-number{
			display: block;
		}
	}
	.video{
		padding-bottom: 50px;
		height: 340px;
		
		.logo-wr{
			width: 35%;
			margin-top: 32px;
			img{
				margin-bottom: 0;
			}
		}

		hr{
			display: none;
		}

		.video-button-wr{
			width: 80%;
			margin-top: 30px;
			.video-alias-2{
				display: none;
			}
		}
	}

	.menu-900{
		.logo-2{
			margin-right: 10px;
		}

		.ticket{
			display: none;
		}

		.search a{
			border-left: 1px solid #4f535b;
		}
	}

	.menu-900-ul{
		padding-bottom: 0;
		
		.soc-menu{
			margin-bottom: 20px;
		}

		.ticket-640{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
	}

	.menu-2-900{
		.logo-2{
			margin-right: 10px;
		}
		.lang{
			display: none;
		}
		.search a{
			border-left: 1px solid #4f535b;
		}
	}

	.menu-2-900-ul{
		.lang-640{
			display: block;
		}
	}

	//Content
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 20px;
	}
	.container1, .section-2 .container2{
		padding-left: 20px;
		padding-right: 20px;
	}
	.small-text{
		font-size: 12px;
	}
	.big-text{
		font-size: 16px;
	}

	//Order page
	.order-result{
		padding-top: 40px;
		padding-bottom: 0;

		h1{
			font-size: 30px;
		}

		.h-text{
			font-size: 16px;
		}

		.container2{
			padding-left: 20px;
			padding-right: 20px;
		}

		.right-block{
			width: calc(100% + 40px);
			margin-left: -20px;
			margin-right: -20px;
		}

		.order-details{
			&.first{
				margin-bottom: 20px;
				.left{
					width: auto;
				}
				.right{
					padding-left: 5px;
				}
			}
			&.last{
				justify-content: space-between;
				.left, .right{
					width: auto;
				}
			}

			.right{
				.right-details{
					margin-bottom: 10px;
				}

				hr{
					margin-top: 25px;
					margin-bottom: 25px;
				}
			}
		}
	}

	//Общие классы для страницы билетов
	.changedate-h{
		display: none;
	}
	.pay-form{
		.item{
			width: 100%;

			.big-text{
				margin-top: 15px;
				margin-bottom: 2px;
			}

			&:first-child{
				.big-text:first-child{
					margin-top: 0;
				}
			}
		}

		.item-3{
			padding: 25px 30px 30px;
			.item-3-promo{
				width: 100%;
				margin-bottom: 15px;
				justify-content: flex-start;
			}
			.text{
				width: 100%;
			}
		}
	}


	//Ticket
	.ticket-page{
		display: none;

		h1{
			font-size: 30px;
		}

		.big-text{
			font-size: 16px;
		}
	}
	.ticket-page-640{
		display: block;
	}

	//Sliders
	.slider-1-control{
		top: -93px;
	}
	.slider-3-control{
		top: -85px;
	}

	//Sections
	.section-1, .section-6{
		.section-header{
			width: 45%;
		}
	}
	.section-1 .slider-1 .event-slide{
		img{
			width: 100%;
		}
	}

	.section-2 .vdnh-logo{
		width: 120px;
	}
	.section-2 .vdnh{
		height: 80px;
		top: -40px;

		.vdnh-header{
			line-height: 80px;
		}
	}
	.section-2 .vdnh-text{
		display: none;
	}
	.slider-2-control{
		bottom: -40px;
	}
	.section-2 .news .news-1, .section-2 .news .news-2{
		display: none;
	}
	.section-2 .news .block-1, .section-2 .news .block-2{
		width: 100%;
	}
	.section-2 .news .news-min{
		width: 100%;
		&:nth-child(4){
			display: none;
		}
	}
	.section-2 .news .news-min{
		padding-left: 0;
	}
	.section-2 .news .news-2{
		padding-left: 0;
	}
	.section-2 .news .news-min .news-min-img{
		padding-left: 0;
	}

	.section-3{
		padding-bottom: 150px;
	}
	.section-3 .fact-slide .fact-text{
		margin-top: 30px;
	}
	.section-3 .fact-slide hr{
		position: static;
	}
	.section-3 .slider-2 .fact-slide{
		min-height: 160px;
	}
	.section-3 .slider-2 .fact-slide .text{
		hr{
			margin-top: 15px;
			margin-bottom: 25px;
			width: 40px;
		}
	}
	
	.section-4 .project-item{
		width: 100%;
		height: 250px;

		&:after{
			content: '';
			display: block;
			clear: both;
		}

		.text{
			bottom: 30%;
		}

		&:hover{
			.img{
				transform: none;
			}
		}

		&:nth-child(1) .img{
			background: url(../img/project/project-1-min.png) no-repeat center/cover;
		}
		&:nth-child(2) .img{
			background: url(../img/project/project-2-min.png) no-repeat center/cover;
		}
		&:nth-child(3) .img{
			background: url(../img/project/project-3-min.jpg) no-repeat center/cover;
		}
	}
	.section-4 .project-item{
		text-align: center;
		span{
			display: none;
		}
		hr{
			margin-left: auto;
			margin-right: auto;
		}
	}
	.section-4 .project-item:hover{
		transform: none;
	}
	.section-4 .project-h{
		background-color: #3b3f48;
		top: -70px;
		height: 70px;
		h4{
			line-height: 70px;
		}
		hr{
			display: none;
		}
	}

	.section-5 .blog .blog-big .item, .section-5 .blog .blog-small .item{
		height: 180px;
	}
	.section-5 .blog .blog-small{
		padding-left: 0;
	}
	.section-5 .blog .blog-big{
		padding-right: 0;
	}
	.section-5 .blog .blog-big, .section-5 .blog .blog-small{
		width: 100%;
	}
	.section-5 .blog .blog-big{
		margin-bottom: 30px;
	}

	.section-6{
		padding-bottom: 30px;
	}

	.section-7 .map .text-900{
		display: none;
	}
	.section-7 .map .img{
		width: 100%;
	}
	.section-7 .map .text-640{
		display: block;
	}
	.section-7{
		padding-top: 50px;
	}
	.section-7 .map-header{
		display: none;
	}

	.section-8 .slider-wr{
		display: none;
	}
	.section-8 .partner{
		display: block;
	}

	//Footer
	.footer{
		.footer-900{
			display: none;
		}
		.footer-640{
			display: block;
		}
	}
}

@media only screen and (max-width : 460px){
	.section-7 .map-marker{
		width: 15px;
		height: 22px;
		background-image: url(../img/icons/marker-small.png);
	}
}

//For IE 10,11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   .section-header{
		left: 130px;
		top: 264px;
	}
	.section-3 .section-header{
		top: 290px;
	}
	.order-result{
		height: auto;
		padding-bottom: 50px;
	}
}
