.news-page{
  h1{
    font-family: ProximaB;
  }
  background-color: #fff;

  @media (max-width: 1220px){
    .container2{
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (max-width: 640px){
    .container2{
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .news-section-1{
    padding-top: 50px;
    padding-bottom: 75px;
    .big-text{
      margin: 25px 0;
    }
  }
  .news-section-2{
    background-color: #f3f3f3;
    padding-bottom: 70px;
  }

  &__items{
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 640px){
      max-width: 400px;
      margin: 0 auto;
    }

    &_big{
      @extend .news-page__items;
      justify-content: space-between;
      margin: 48px 0 0 0;

      @media (max-width: 640px){
        max-width: 400px;
        margin: 0 auto;
      }

      .news-page__item{
        height: 270px;
        width: 48%;
        margin-left: 0;

        @media (max-width: 640px){
          width: 100%;
          height: 170px;
        }

        &-pic{
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
        }

        &-container{
          position: absolute;
          bottom: 0;
          left: 5%;
          width: 90%;
          z-index: 1;
        }

        &-text{
          font-size: 25px;
          color: #fff;
          margin: 0;
        }

        &-date{
          color: rgba(255,255,255,0.7);
          margin: 15px 0;
        }
      }
    }

    &_2{
      .news-page__item{
        &:nth-of-type(8){
          display: none;
        }

        &:nth-of-type(7){
          display: none;
        }
      }
    }
  }

  &__item{
    width: 22.5%;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    display: block;
    margin-left: 3.333%;

    &:nth-of-type(9){
      display: none;
    }

    @media (max-width: 900px){
      width: 30%;
      margin-left: 5%;

      &:nth-of-type(9){
        display: block;
      }
    }

    @media (min-width: 900px){
      &:nth-of-type(4n + 1){
        margin-left: 0;
      }
    }

    @media (min-width: 640px) and (max-width: 900px){
      &:nth-of-type(3n + 1){
        margin-left: 0;
      }
    }


    @media (max-width: 640px){
      width: 100%;
      margin: 0 0 20px 0!important;

      &:nth-of-type(4){
        display: none;
      }

      &:nth-of-type(5){
        display: none;
      }

      &:nth-of-type(6){
        display: none;
      }

      &:nth-of-type(7){
        display: none;
      }

      &:nth-of-type(8){
        display: none;
      }

      &:nth-of-type(9){
        display: none;
      }

      &:nth-of-type(10){
        display: none;
      }

      &:nth-of-type(11){
        display: none;
      }

      &:nth-of-type(12){
        display: none;
      }
    }

    &:hover{
      .news-page__item-text{
        color: $yellow;
      }
    }

    &-pic{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      display: block;
      width: 100%;
      height: 127px;

      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
      }

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/news-page/shadow.png");
      }
    }

    &-container{

    }

    &-text{
      font-family: ProximaB;
      font-size: 18px;
      color: #333333;
      margin: 15px 0 10px 0;
      transition: 0.3s ease;
    }

    &-date{
      font-family: ProximaB;
      font-size: 11px;
      text-transform: uppercase;
      color: #999999;
    }

    &-refresh{
      font-family: ProximaB;
      font-size: 10px;
      padding: 0 10px;
      height: 20px;
      line-height: 20px;
      background-color: #cd9a2b;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px;

    @media (max-width: 640px){
      display: block;
    }

    &-btns{
      display: flex;
      justify-content: space-between;
    }

    &-btn{
      //width: 140px;
      height: 50px;
      transition: 0.3s;
      cursor: pointer;
      border: none;
      background-color: transparent;
      outline: none;
      font-family: ProximaB;
      padding: 0 18px;
      margin-right: 4px;

      &.active,
      &:hover{
        color: #333333;
        background-color: #fdfefc;
      }

      @media (max-width: 640px){
        display: none;
      }

      &_select{
        margin: 0 auto 20px auto;
        width: 100%;
        max-width: 280px;

        @media (min-width: 640px){
          display: none;
        }

        // .ui-selectmenu-button{
        //   font-family: ProximaB;
        //   width: 100%;
        //   line-height: 35px;
        //   background-color: #fdfefc;
        //   position: relative;
        //   z-index: 1;
        //   cursor: pointer;
        //   padding-left: 10px;
        //   color: #333333;
        //   border: none;

        //   .ui-selectmenu-icon.ui-icon {
        //     margin-top: 10px;
        //   }

        //   &:active{
        //     color: #333333;
        //   }
        // }

        *{
          outline: none;
        }
      }
    }

    &-container{
      width: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-label{
      color: #333333;
      font-family: ProximaB;
      font-size: 16px;
      margin-right: 34px;

      @media (max-width: 900px){
        display: none;
      }
    }

    &-select{
      width: 190px;

      // .ui-selectmenu-button{
      //   font-family: ProximaB;
      //   width: 100%;
      //   line-height: 35px;
      //   background-color: #fdfefc;
      //   position: relative;
      //   z-index: 1;
      //   cursor: pointer;
      //   padding-left: 10px;
      //   color: #333333;

      //   .ui-selectmenu-icon.ui-icon {
      //     margin-top: 10px;
      //   }

      //   &:active{
      //     color: #333333;
      //   }
      // }

      *{
        outline: none;
      }


      @media (max-width: 640px){
        margin: 0 auto;
        width: 100%;
        max-width: 280px;
      }

      //&:after{
      //  content: '';
      //  position: absolute;
      //  top: 0;
      //  right: 0;
      //  z-index: 2;
      //  width: 40px;
      //  height: 100%;
      //  background-color: #fdfefc;
      //  background-position: center;
      //  background-repeat: no-repeat;
      //  background-image: url("../img/news-page/arr.png");
      //  pointer-events: none;
      //}

      //select{
      //  position: absolute;
      //  top: 0;
      //  left: 10px;
      //  width: calc(100% - 10px);
      //  height: 100%;
      //  border: none;
      //  border-radius: 0;
      //  outline: none;
      //  background-color: #fdfefc;
      //  background-image: none;
      //  cursor: pointer;
      //}
    }
  }

  &__form{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    margin: 60px 0;
    position: relative;

    @media (max-width: 640px){
      display: block;
      padding: 30px;
      margin: 20px 0 60px 0;
    }

    @media (max-width: 900px){
      flex-wrap: wrap;
      padding: 10px 40px 30px 40px;
    }

    &-text{
      font-family: ProximaB;
      font-size: 20px;
      color: #333333;
      max-width: 320px;

      @media (max-width: 900px){
        width: 100%;
        max-width: 100%;
        font-size: 18px;
      }
    }

    &-input{
      width: 220px;
      height: 40px;
      border: 1px solid #ceced5;
      background-color: #ffffff;
      display: block;
      padding: 0 18px;
      font-size: 16px;
      font-family: Proxima;
      color: #333333;
      outline: none;

      @media (max-width: 900px){
        width: 55.8%;
      }

      @media (max-width: 640px){
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &-btn{
      width: 180px;
      height: 40px;
      background-color: #cd9a2b;
      border: none;
      outline: none;
      font-family: ProximaB;
      color: #ffffff;
      font-size: 12px;
      display: block;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;

      @media (max-width: 640px){
        width: 100%;
      }
    }
  }

  &__add-btn{
    color: #333333;
    font-size: 12px;
    font-family: ProximaB;
    width: 280px;
    height: 50px;
    border: 1px solid #ceced5;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    margin: 30px auto 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
      background-color: #ceced5;
    }
  }
}

.vdnh{
  background-color: #1db7b1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: -55px;
  margin-bottom: -15px;

  &:hover{
    .vdnh-heading{
      color: $yellow;
    }
  }

  &-pic{
    display: block;
    width: 110px;
    min-width: 110px;
    margin: 0 35px 0 0;

    @media (max-width: 640px){
      margin: 0 20px 0 0;
    }
  }

  &-heading{
    font-family: Proxima;
    font-size: 24px;
    color: white;
    margin: 0;
    transition: 0.3s;

    @media (max-width: 640px){
      font-size: 20px;
    }
  }

  &-text{
    font-family: Proxima;
    font-size: 16px;
    color: white;
    border-left: 1px solid white;
    padding: 0 20px;
    margin: 0 0 0 20px;
    max-width: 500px;

    @media (max-width: 900px){
      display: none;
    }
  }
}