.popup{
  width: 100%;
  min-width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  transition: opacity 0.4s;
  z-index: 1000;

  &_hidden{
    z-index: -1000;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
  }

  &__layout{
    background-color: rgba(0,0,0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transition: 0.4s;
    background-color: white;

    &.hidden{
      opacity: 0;
      top: 10%;
    }
  }

  .hidden{
    display: none!important;
  }

  &__close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    width: 26px;
    height: 26px;
    z-index: 10;

    @media(max-width: 1000px){
      top: 15px;
      right: 15px;
    }

    &:after,
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: #333333;
      position: absolute;
      bottom: 50%;
      left: 0;
    }
    &:after{
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    &:before{
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  &__sale{
    padding: 50px 50px 30px 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1000px;
    top: 50px;
    left: calc(50% - 500px);
    position: relative;
    z-index: 10;
    background-color: white;

    @media(max-width: 1000px){
      left: 2%;
      width: 96%;
      padding: 25px 25px 15px 25px;
    }

    &-container{
      display: flex;
      justify-content: flex-start;
      margin-bottom: 45px;

      @media(max-width: 900px){
        display: block;
      }
    }

    .items{
      width: 280px;
      min-width: 280px;
      background-color: #ebebeb;
      text-align: center;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      @media(max-width: 900px){
        width: 100%;
        padding: 25px 15px 10px 15px;
        flex-direction: row;
        align-items: flex-start;
        min-width: 0;
      }

      @media(max-width: 640px){
        display: block;
      }

      .item{
        @media(max-width: 900px){
          width: 30%;
        }
        @media(max-width: 640px){
          width: 100%;
        }

        &-pic{
          display: block;
          margin: 0 auto 15px auto;
        }

        &-text{
          max-width: 180px;
          color: #333333;
          font-family: 'ProximaB';
          font-size: 18px;
          line-height: 25px;

          @media(max-width: 900px){
            max-width: 100%;
            width: 100%;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }

    .list{
      margin: 0 0 0 40px;

      @media(max-width: 640px){
        margin: 15px 0;
      }

      li{
        color: #333333;
        font-size: 18px;
        position: relative;
        z-index: 1;
        padding-left: 20px;
        margin-top: 20px;

        @media(max-width: 640px){
          font-size: 16px;
          margin-top: 15px;
        }

        &:nth-of-type(1){
          margin-top: 0;
        }

        &:before{
          content: '';
          position: absolute;
          top: 10px;
          left: 0;
          z-index: 1;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $yellow;
        }
      }
    }

    .text-warning{
      position: relative;
      z-index: 1;
      padding-left: 40px;
      max-width: 680px;

      img{
        position: absolute;
        top: 2px;
        left: 0;
        z-index: 1;
      }
    }
  }

  &__map{
    padding: 65px 90px 95px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1090px;
    top: 50px;
    left: calc(50% - 545px);
    position: relative;
    z-index: 10;
    background-color: #f3f3f3;

    @media(max-width: 1220px){
      left: 2%;
      width: 96%;
      padding: 25px 25px 15px 25px;
    }

    .heading{
      margin-bottom: 30px;
    }

    .map{
      .text-900{
        display: block;
      }

      @media (max-width: 760px){
        .text-900{
          display: none;
        }

        .text-640{
          display: block;
        }
      }
    }
  }
  
  &__fast{
    padding: 65px 90px 0;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    left: calc(50% - 610px);
    max-width: 1160px;
    top: 50px;
    position: relative;
    z-index: 10;
    background-color: #fff;

    h1{
      margin-bottom: 30px;
    }

    .change-time-900{
      display: block;
    }
    
    .hr{
      margin: 42px 0;
      border-bottom: 5px solid $blue-gray;
    }

    .form-wr{
      width: calc(100% + 180px);
      margin-left: -90px;
      padding: 55px 90px 80px;
      margin-top: 60px;
      background-color: #e9e9e9;
    }

    .price-wr{
      width: calc(100% + 180px);
      margin-left: -90px;
    }

    .total-price{
      justify-content: flex-end;
    }
  }

  &__video{
    .popup__close{
      top: 40px;

      &:after,
      &:before{
        background-color: white;
      }
    }
  }

  &__subscribe{
    padding: 65px 80px 90px;
    width: calc(100% - 120px);
    max-width: 1080px;
    background-color: #fff;
    z-index: 10;
    position: relative;
    margin: 200px auto 0;

    @media (max-width: 1220px){
      padding: 50px 35px;
      width: calc(100% - 60px);
    }

    @media (max-width: 640px){
      padding: 40px 20px;
      width: calc(100% - 30px);
    }

    
    .h1{
      font-size: 45px;
      margin-bottom: 30px;

      @media (max-width: 900px){
        font-size: 40px;
        margin-bottom: 25px;
      }

      @media (max-width: 640px){
        font-size: 30px;
        margin-bottom: 20px;
      }
    }
  }

  hr{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid $yellow;

    @media(max-width: 640px){
      margin: 10px 0 15px 0;
    }
  }
}

@media only screen and (max-width : 1220px){
  .popup__fast{
    left: 0;
    padding-left: 40px;
    padding-right: 40px;
    
    .form-wr, .price-wr{
      width: calc(100% + 80px);
      margin-left: -40px;
    }

    .form-wr{
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media only screen and (max-width : 640px){
  .popup__fast{
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
  }
}
