.projects-page{
  background-color: #fff;

  @media (max-width: 1220px){
    .container2{
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (max-width: 640px){
    .container2{
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &-section-1{
    padding-top: 50px;

    @media (max-width: 1220px){
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 640px){
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
    }

    .big-text{
      margin: 25px 0;
    }
  }

  &-section-2{
    .project{
      position: relative;
    }

    .project-item{
      float: left;
      width: 33.33%;
      position: relative;
      overflow: hidden;
      color: #fff;

      @media (max-width: 960px){
        
      }

      @media (max-width: 640px){
        width: 100%;
      }

      .img{
        height: 580px;
        background-position: center 30%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform 0.3s;

        @media (max-width: 960px){
          
        }

        @media (max-width: 640px){
          height: 185px;
        }
      }

      .mask{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.3s ease all;
        z-index: 1;
      }

      &:hover{
        .img{
          transform: scale(1.1);
        }

        h2{
          color: $yellow;
        }

        span{
          color: #fff;
        }

        .mask{
          opacity: 0.5;
        }
      }

      img{
        width: 100%;
        height: 100%;
        transition: all 0.3s ease
      }

      .text{
        width: 90%;
        position: absolute;
        bottom: 60px;
        left: 7%;
        z-index: 2;

        @media (max-width: 640px){
          text-align: center;
          left: 5%;
          bottom: 20px;
        }
      }

      span{
        width: 80%;

        @media (max-width: 640px){
          width: 100%;
          display: none;
        }
      }

      h2{
        margin-bottom: 20px;
      }

      hr{
        display: block;
        width: 40px;
        margin: 0;
        left: 0;
        margin-top: 30px;
        border-bottom: 3px solid $yellow;

        @media (max-width: 640px){
          margin: 30px auto 0 auto;
          margin-top: 18px;
        }
      }
    }
  }

  &-section-3{
    padding: 50px 0;
    background-color: #f3f3f3;

    .vdnh{
      position: static;
    }
  }

  &-section-4{
    padding-bottom: 50px;
    background-color: #f3f3f3;

    @media (max-width: 640px){
      padding-bottom: 20px;
    }

    .items{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .item{
      width: 31%;
      position: relative;
      overflow: hidden;
      color: #fff;
      margin: 0 3.5% 30px 0;
      height: 380px;

      &:nth-of-type(3n + 3){
        margin: 0 0 30px 0;
      }

      @media (max-width: 960px){
        
      }

      @media (max-width: 640px){
        width: 100%;
        height: 180px;
        margin-left: 0;
        margin-right: 0;
      }

      .img{
        position: absolute;
        width: 100%;
        height: 100%;
        @extend .bgi;
        transition: transform 0.3s;
        -webkit-backface-visibility: hidden;
        left: 0;
        top: 0;

        @media (max-width: 640px){
          
        }
      }

      .mask{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: all 0.3s ease;
        z-index: 1;
      }

      &:hover{
        .img{
          transform: scale(1.1);
        }

        h2{
          color: $yellow;
        }

        .mask{
          opacity: 0.5;
        }
      }

      img{
        width: 100%;
        height: 100%;
        transition: all 0.3s ease
      }

      .text{
        width: 90%;
        position: absolute;
        bottom: 30px;
        left: 7%;
        z-index: 2;

        @media (max-width: 640px){
          left: 5%;
          bottom: 20px;
        }
      }

      h2{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 25px;
      }

      hr{
        width: 40px;
        margin-top: 30px;
        border-bottom: 3px solid $yellow;
        text-align: left;

        @media (max-width: 640px){
          margin-top: 12px;
        }
      }
    }
  }
}