.search-page{
	background-color: #f3f3f3;

	@media (max-width: 1220px){
		.container2{
			width: calc(100% - 80px);
		}
	}

	@media (max-width: 640px){
		.container2{
			width: calc(100% - 40px);
		}
	}

	.search-h{
		color: $dark-gray;
		height: 150px;
		padding-top: 1px;
		background-color: #fff;
		margin-bottom: 40px;
		
		.h1{
			display: block;
			margin-top: 46.5px;
		}

		@media (max-width: 900px){
			height: 160px;

			.h1{
				margin-top: 51.5px;
			}
		}

		@media (max-width: 640px){
			height: 100px;

			.h1{
				margin-top: 31.5px;
			}
		}
	}

	.search-line{
		display: block;
		cursor: pointer;
		margin-bottom: 30px;
		border: none;

		input[type="text"]{
			border: none;
			height: 50px;
			padding-left: 18px;
			padding-right: 18px;
			width: 100%;
			position: relative;
			color: $dark-gray;

			&::placeholder{
				color: #797d91;
				transition: all 300ms;
			}

			&:focus::placeholder{
				text-indent: 900px;
			}
		}

		.search-button{
			width: 50px;
			height: 50px;
			position: absolute;
			right: 0;
			top: 0;
			background-color: #fff;
			background-image: url(../img/icons/search.png);
			background-repeat: no-repeat;
			background-position: 50%;
		}
	}

	.search-option-full{
		margin-bottom: 40px;
		display: flex;
		justify-content: space-between;

		a{
			display: block;
			height: 50px;
			line-height: 50px;
			padding-left: 15px;
			padding-right: 15px;
			color: $dark-gray;

			&:hover, &.selected{
				background-color: #fff;
			}
		}
	}

	.search-option-900{
		display: none;
		width: 340px;
		position: relative;
		margin-bottom: 40px;

		select{
			border: none;
			cursor: pointer;
			appearance: none;
			height: 50px;
			color: $dark-gray;
			width: 340px;
			padding-left: 18px;
			padding-right: 18px;
			background-color: #fff;
		}

		&:after{
			content: '';
			display: block;
			width: 9px;
			height: 5px;
			position: absolute;
			right: 15px;
			top: 23px;
			background: url(../img/icons/caret.png) no-repeat center;
		}
	}

	@media (max-width: 1220px){
		.search-option-full{
			display: none;
		}
		
		.search-option-900{
			display: block;
		}
	}

	@media (max-width: 640px){	
		.search-option-900{
			width: 100%;

			select{
				width: 100%;
			}
		}
	}

	.search-result{
		padding-top: 35px;
		padding-bottom: 70px;
		background-color: #fff;
		color: $dark-gray;

		.hr{
			margin-top: 35px;
			margin-bottom: 55px;
		}

		.search-fast-row{
			margin-bottom: 55px;

			&.last{
				margin-bottom: 0;
			}

			@media (max-width: 640px){
				margin-bottom: 50px;
			}
		}

		.search-block-row{
			margin-bottom: 55px;
		}

		.show-more-button{
			display: block;
			width: 280px;
			height: 50px;
			line-height: 50px;
			margin: 60px auto 0;
			border: 1px solid #e7e7ea;
			text-align: center;
			font-size: 12px;
			font-family: ProximaB;
			color: $dark-gray;
			text-transform: uppercase;
			letter-spacing: 4px;

			&:hover{
				background-color: #f3f3f3;
			}

			@media (max-width: 900px){
				margin-top: 40px;
			}
		}

		@media (max-width: 640px){
			padding-bottom: 60px;

			.show-more-button{
				margin-top: 55px;
			}
		}
	}
}