.simple-page{
  .text-bold{
    font-family: 'ProximaB';
    color: #333333;
    font-size: 22px;

    @media (max-width: 640px){
      font-family: Proxima;
      font-size: 16px;
    }
  }

  @media (max-width: 1220px){
    .container2{
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (max-width: 640px){
    .container2{
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &-section-1{
    padding: 50px 0 0 0;
  }

  .article{
    position: relative;
    z-index: 1;
    padding-left: 150px;

    @media (max-width: 900px){
      padding-left: 0px;
      width: 84%;
      margin: 0 auto;
    }

    @media (max-width: 640px){
      width: 100%;
    }

    .article-heading{
      color: #333333;
      font-size: 30px;
      font-family: 'ProximaB';
      margin: 0 0 40px 0;

      @media (max-width: 640px){
        font-size: 20px;
        margin: 30px 0 30px 0;
      }
    }

    .article-text{
      color: #666666;
      font-size: 18px;
      line-height: 30px;
      max-width: 700px;
      width: 100%;

      @media (max-width: 640px){
        font-size: 16px;
        line-height: 25px;
      }
    }

    .quote{
      color: #cd9a2b;
      font-family: "ProximaBl";
      font-size: 150px;
      font-weight: 900;
      line-height: 6px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

      @media (max-width: 900px){
        font-size: 120px;
        bottom: -90px;
        left: -70px;
      }

      @media (max-width: 640px){
        position: static;
        display: block;
        font-size: 60px;
        line-height: 40px;
        text-align: center;
      }
    }
  }

  .rotate-heading{
    color: #333333;
    font-family: "ProximaBl";
    font-size: 45px;
    line-height: 40px;
    text-align: right;
    position: absolute;
    top: -80px;
    left: -330px;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;

    @media (max-width: 1220px){
      transform: none;
      text-align: left;
      position: static;
      margin-bottom: 40px;

      br{
        display: none;
      }
    }

    @media (max-width: 640px){
      font-size: 25px;
      line-height: 30px;
    }
  }

  &-section-2{
    padding: 20px 0 50px 0;

    @media (max-width: 640px){
      padding: 16px 0 50px;
    }

    .pic{
      float: right;
      margin: 30px;
      width: 400px;

      @media (max-width: 900px){
        width: 300px;
      }

      @media (max-width: 640px){
        float: none;
        width: calc(100% + 40px);
        margin-left: -20px;
        display: block;
      }

      img{
        width: 100%;
      }

      &-text{
        font-size: 14px;
        line-height: 25px;
        color: #999999;

        @media (max-width: 640px){
          padding: 0 20px;
        }

        span{
          display: inline-block;
          vertical-align: top;
          color: #cccccc;
          margin: 0 5px;

          @media (max-width: 900px){
            display: none;
          }
        }
      }
    }

    .fieldset{
      width: calc(66.66% + 150px);
      border: 5px solid #cd9a2b;
      position: relative;
      z-index: 1;
      padding-top: 40px;
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 80px 0;

      @media (max-width: 640px){
        width: 100%;
        margin: 40px 0;
      }

      .legend{
        position: absolute;
        background-color: #fff;
        left: calc(50% - 32px);
        top: -25px;
        padding: 0 20px;
      }

      &:hover{
        .block-item{
          opacity: 0;
          pointer-events: none;
        }

        .btn{
          opacity: 1;
        }
      }

      .block-item{
        text-align: center;
        transition: 0.3s;

        &-heading{
          color: #333333;
          font-family: 'ProximaB';
          font-size: 16px;
          line-height: 30px;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        &-price{
          color: #333333;
          font-family: 'ProximaB';
          font-size: 18px;
          line-height: 25px;

          span{
            color: #cd9a2b;
            font-family: 'ProximaB';
            font-size: 50px;
            line-height: 35px;
            display: inline-block;
            vertical-align: middle;
          }
        }

        &-list{
          li{
            display: inline-block;
            vertical-align: top;
            color: #333333;
            font-size: 16px;
            line-height: 25px;

            &:nth-of-type(1){
              &:after{
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin: 0 5px;
                width: 4px;
                height: 4px;
                background-color: $yellow;
                border-radius: 50%;
              }
            }
          }
        }
      }

      .btn{
        height: 69px;
        padding: 0 35px;
        color: #ffffff;
        font-family: 'ProximaB';
        font-size: 12px;
        text-transform: uppercase;
        border: none;
        outline: none;
        cursor: pointer;
        display: block;
        background-color: #cd9a2b;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 2;
        transition: 0.3s;
        opacity: 0;
      }
    }
  }

  &-section-3{
    background-color: #f3f3f3;
    padding: 60px 0 1px 0;
    position: relative;
    // z-index: 1;

    @media (max-width: 1220px){
      padding: 50px 40px 30px 40px;
    }

    @media (max-width: 640px){
      padding: 50px 20px 30px 20px;
    }

    .program{
      &-item{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 40px;

        @media (max-width: 900px){
          display: block;
        }

        &:last-child{
          .program-item__timeline{
            border-bottom: none;
          }
        }

        &__day{
          font-family: 'ProximaB';
          font-size: 16px;
          color: #333333;
          text-transform: uppercase;
          width: 150px;
          min-width: 150px;
          padding-right: 50px;

          @media (max-width: 900px){
            width: 100%;
            min-width: 0;
            padding-right: 0;
            margin-bottom: 30px;
          }

          span{
            text-transform: none;
            color: #cccccc;

            @media (max-width: 900px){
              display: inline;
            }
          }
        }

        &__timeline{
          border-bottom: 1px solid #ceced5;
        }

        &__inner{
          display: flex;
          justify-content: flex-start;
          margin-bottom: 40px;

          @media (max-width: 640px){
            display: block;
            margin-bottom: 30px;
          }
        }

        &__hours{
          margin: 0;
          width: 150px;
          min-width: 150px;
          padding-right: 50px;
          text-align: right;
          color: #333333;
          font-family: 'ProximaB';
          font-size: 16px;

          @media (max-width: 900px){
            width: 140px;
            min-width: 140px;
            padding-right: 40px;
          }

          @media (max-width: 640px){
            text-align: left;
          }
        }

        &__description{
          margin: 0;
          color: #666666;
          font-size: 18px;
          max-width: 600px;

          @media (max-width: 980px){
            max-width: 540px;
          }
        }
      }
    }
  }

  &-section-4{
    padding-top: 80px;
    padding-bottom: 80px;

    .vdnh{
      position: static;
    }
  }

  &-section-5{
    padding: 0 0 60px 0;
  }

  .event-section-8{
    padding-top: 80px;
  }

  .event-sliders{
    *{
      outline: none;
      box-sizing: border-box;
      font-size: 0;
    }

    .event-slider{
      position: relative;
      z-index: 5;

      &:before{
        content: '';
        width: 100%;
        height: 250px;
        background-image: url("../img/event/slider/shadow.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
      }

      .slide{
        img{
          display: block;
          width: 100%;
        }
      }

      .slick-arrow{
        width: 10px;
        height: 18px;
        font-size: 0;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 80px;
        z-index: 2;
        background-image: url("../img/icons/arr-white.png");
        transition: 0.3s;
        opacity: 0.4;

        @media (max-width: 640px){
          display: none!important;
        }

        &:hover{
          opacity: 1;
        }

        &.slick-next{
          right: 50px;
        }

        &.slick-prev{
          right: 90px;
          transform: rotate(180deg);
        }
      }

      .slick-dots{
        text-align: center;
        margin: 15px 0 0 0;

        li{
          display: inline-block;
          vertical-align: top;
          margin: 0 7px;
          font-size: 0;

          button{
            border: none;
            cursor: pointer;
            background-color: none;
            padding: 0;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background-color: #aaafb8;
          }

          &.slick-active{
            button{
              background-color: #cd9a2b;
            }
          }
        }
      }
    }

    .event-slider-nav{
      position: relative;
      z-index: 4;
      top: -1px;
      // @media (max-width: 1220px){
      //   width: calc(100% + 80px);
      //   margin-left: -40px;
      // }

      @media (max-width: 640px){
        display: none;
      }

      .slide{
        position: relative;
        z-index: 1;
        font-size: 0;
        cursor: pointer;

        img{
          display: block;
          width: 100%;
        }

        &.slick-current{
          &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            border: 4px solid #cd9a2b;
            box-sizing: border-box;
            background-color: rgba(0,0,0,0.7);
          }
        }
      }
    }
  }

  .follow{
    padding: 0 0 0 0;

    .container2{
      border-top: 5px solid #f3f3f3;
      padding: 30px 0 20px 0;

      @media (max-width: 1220px){
        padding: 30px 40px 20px 40px;
      }

      @media (max-width: 640px){
        padding: 30px 20px 20px 20px;
      }
    }
  }

  &-section-9{
    padding-bottom: 60px;

    @media (max-width: 1220px){
      padding: 0 40px 60px 40px;
    }

    @media (max-width: 640px){
      padding: 0 20px 40px 20px;
    }

    a{
      color: #1d5ea2;
      font-size: 16px;
      line-height: 25px;
      text-decoration: underline;
    }
  }
}